[2012-12-19 10:48] HikariKnight opened #1 "Replace autoit launchers with perl launchers"
Replace the autoit based launchers for windows with perl based launchers that are "compiled" with PAR::Packer which will remove the need for a local redistribution of perl. and the .exe files can be decompiled by adding a .zip extension to them.

this will also remove about 20 - 30mb from the windows versions due to the perl dependency being removed.

[2012-12-25 17:41] #1 closed, assigned to HikariKnight

[2013-01-12 21:59] Hjdskes opened #2 "Sed call in sub unix_find_default_java_binary doesn't work"
In rsu_java.pm, sub unix_find_default_java_binary the following sed call is faulty:
$whereisjava = `whereis java | sed s/java:\\ // | sed s/\\ .*//`;

A working one is this:
$whereisjava = `whereis java | sed "s/java:\\ //" | sed "s/\\ .*//"`;

[2013-01-14 11:35] HikariKnight opened #3 "Make update-runescape-client use zenity if it is available on the system"
Currently the update-runescape-client script uses xterm (terminal or cmd on windows).
Fallen Unia suggested to make it use zenity if found on the system, and i think that is a good idea.

Unia have given me an example port of the script and i just need to port the changes back to the original script.

Zenity will allow the script to use GTK2 or GTK3(depends on version) windows to display informati

[2013-01-14 11:37] #2 closed, assigned to HikariKnight

[2013-02-07 08:49] #3 closed, assigned to HikariKnight

[2013-02-20 09:08] HikariKnight opened #4 "Turning the project into an API/framework"
I am thinking about making it easier for people with little programming knowledge to fork this project by turning it into an API/frameworks consisting of a query script which will output information to use for people wanting to make their own versions like fallen_unia whom is porting the most of the project to c.

Making the client into an api/framework would make it possible for devs to run somet

[2013-02-24 11:59] tippincows opened #5 "2007 server update crashing RSUclient?"
Hello, i was just browsing your homepage today looking for some information on weather or not the recent update has something to do with why my client is no longer runnning.

Of course i have ran RSU-client-updater followed by install-desktop-icons

this has been working nice and smooth until this past weekend (naturally)

I just wanted to drop a line and see where everyone else is at.
Does it sti

[2013-02-25 22:56] Ethoxyethaan opened #6 "Add option to load oldscape jav_config"
Jagex added their own jav_config.ws no point in rehosting it:

http://oldschool.runescape.com/jav_config.ws

[2013-02-27 20:10] #6 closed, assigned to HikariKnight

[2013-02-27 21:05] HikariKnight opened #7 "READ THIS BEFORE MAKING A NEW ISSUE"
## As of 2020 this project is now no longer maintained as the Java client no longer works
### If you play OSRS and want to take over this project to maintain OSRS support, feel free to do so and contact me or @RyoshiKayo to get added to the organization

IMPORTANT:
When you make an issue do me a favor and put @HikariKnight inside the message.
This will let me get notified ASAP of your post, otherw

[2013-03-04 17:12] KaiOelfke opened #8 "Universal tar.gz Archive broken"
Hi @HikariKnight , I used to play RS a long time ago and got interested in the oldschool update, but quickly found out that running RS on a Mac is really complicated. Then I discovered your client which looks really promising. I tried to unzip the archive but all unarchivers failed. Could you please check if the archive is fine?

[2013-03-06 09:14] HikariKnight opened #9 "rsu-launcher and rsu-settings not working on OSX Lion and above"
I have noticed some issues with the GUIs on newer versions of OSX.
I will look at the possibilities in fixing it, in worst case it might require using a full perl redistribution instead of a chainloader which i really want to avoid(due to download size and maintenance).

I will however provide a solution in the API release.

[2013-03-06 10:13] HikariKnight opened #10 "Remove wget and curl dependency?"
Currently the API have a function to download files through LWP which outputs download info to a Wx interface, and it will get a fallback version that might output to the terminal.

below is an image of the new download ui
![NewDownloadUI](https://f.cloud.github.com/assets/2557889/226880/4699dfc6-8646-11e2-8f66-22eb05929268.png)

is there any reason to keep wget and curl support when the same thin

[2013-03-07 08:15] #10 closed, assigned to HikariKnight

[2013-03-07 08:55] HikariKnight opened #11 "New extraction method on mac and windows"
Currently 7zip is a dependency on all the platforms.

Currently the situation is this:
- On windows it is most likely not installed and would need to be bundled or installed by the user
- On linux it is most likely not available by default but it is very easily install-able! so this is not an issue!
- On mac, 7zip or p7zip is guaranteed to not be installed so it would need to be compiled or bundle

[2013-03-11 00:04] z0w0 opened #12 "Crashing on trying to switch to OpenGL mode"
I've been having this issue with the official client as well, but I know that this client fixes the linker's paths. Not sure why it's still not working for me. ArchLinux 64-bit, using openjdk7. @HikariKnight

[code]

[2013-03-11 17:06] #9 closed, assigned to HikariKnight

[2013-03-11 17:58] #11 closed, assigned to HikariKnight

[2013-03-28 23:09] #4 closed, assigned to HikariKnight

[2013-03-28 23:10] #8 closed, assigned to HikariKnight

[2013-03-28 23:12] #5 closed, assigned to nobody

[2013-04-02 19:33] ivanpu opened #13 "Reload button for the news"
@HikariKnight
Since launcher sometimes shows black screen instead of news, and just for the sake of checking if there is something new, without restarting it.

[2013-04-26 08:07] #13 closed, assigned to HikariKnight

[2013-05-16 08:55] #12 closed, assigned to nobody

[2013-05-16 09:00] HikariKnight opened #14 "Add debug messages for the newsfeed"
Add debug output to the launchers newsfeed (write to STDOUT what it fetches from runescape.com and the parsing process)

[2013-05-16 09:01] HikariKnight opened #15 "Add an option to disable automatic java optimization"
With the release of 4.0.4 some people did not like the automatic optimization done to java.
Requests have been made to get some way to disable the optimizer.

[2013-05-16 09:04] HikariKnight opened #16 "Add connection timeouts to functions that download files or read text from an external page"
Currently in 4.0.4 the launcher and certain addons will freeze if there is a connection issue on the pages on the websites they try to read information from (runescape.com)
These functions are in need of a timeout.

[2013-05-16 09:05] HikariKnight opened #17 "There is a new version of rsu-query.exe available"
The message "there is a new version of rsu-query.exe available" appears whenever connecting to github.com fails.

[2013-05-16 09:05] #17 closed, assigned to HikariKnight

[2013-05-16 09:05] #14 closed, assigned to HikariKnight

[2013-05-16 09:06] #15 closed, assigned to HikariKnight

[2013-05-16 09:06] #16 closed, assigned to HikariKnight

[2013-06-24 23:33] YumekuiNeru opened #18 "FunOrb/Tomb Racer: Fatal Error: SIGILL C [libGL.so.1+0x313040] glGenBuffersARB+0x0"
@HikariKnight

Attempting to use the Icedtea7 JRE with Tomb Racer on FunOrb (by changing the jav_config path in runescape.prm to the Tomb Racer jav_config.ws) causes a crash as reported below. This seems to be an issue at Jagex' end, but before I submit it to Jagex is there anything that can be done other than using another JRE at the client side (as the other JRE I tried, Oracle, did not seem to

[2013-08-18 11:39] #18 closed, assigned to nobody

[2013-10-17 12:26] ivanpu opened #19 "Uncomplete theme"
The theme still looks uncomplete also on Linux:
![rs-theme](https://f.cloud.github.com/assets/2607888/1351435/525c57c2-3725-11e3-82a5-5352d9553668.png)
I can understand the title bar, but is it possible to color everything else, without changing OS theme?
Also note the button hover effect.

[2013-11-06 02:04] Juje opened #20 "Language problem"
Hey @HikariKnight

When I was browsing trough the settings of the RSU client I came to the language setting and I found out that Dutch was available but when I turned it on it was German and not Dutch. As proof I have a screenshot down here.

![runescape settings editor_031](https://f.cloud.github.com/assets/300745/1479595/3eea1c66-4688-11e3-8f91-2f07cacc0476.png)

But thanks for a great RuneScape

[2013-11-25 19:07] #20 closed, assigned to nobody

[2013-12-12 06:24] edward145 opened #21 "Runescape client not downloading"
Hello,
 I have been having trouble trying to download the client using the command given, it just says "command not found". i have a chromebook and i downloaded the crouton and have linux already. i would really like some assistance with this please @HikariKnight

[2013-12-25 02:54] loganom opened #22 "runescape --magic"
The following bypass the launcher and begin loading the client.

"runescape --"
"runescape --magic"
"runescape --verbose"
"runescape --hmm"

& I presume others...

@HikariKnight

[2014-01-04 07:07] loganom opened #25 "Wx module not found"
runescape/rsu/bin/rsu-query-unix

Could you explain the following warnings to me?

![iss25](https://f.cloud.github.com/assets/2434012/1844244/03baeb4c-750f-11e3-9229-216d78f9e6c7.png)

[2014-01-04 12:06] #22 closed, assigned to HikariKnight

[2014-01-05 17:01] loganom opened #29 "README.md"
@HikariKnight @ivanpu ,

I was wondering what you think about breaking  rsu-client/readme up into readme, contributing, authors, and install. Just a thought. My intention would be to make it easier for anyone who stumbles upon the repository to find what they are looking for.

What do you think?

[2014-01-13 11:31] #21 closed, assigned to HikariKnight

[2014-02-05 22:28] ix opened #31 "Crash upon switching to OpenGL"
@HikariKnight
I suppose this might not be the best place to ask for help on this issue, but you're the unparalleled expert on RuneScape under GNU/Linux, so I wonder if you've come across an issue like this before...

Simply put, whenever I switch to OpenGL in RuneScape (be it in the game itself or just running autosetup) the applet terminates entirely (nouveau is apparently crashing actually, I'll

[2014-02-06 10:42] #31 closed, assigned to nobody

[2014-04-08 22:25] Smarre opened #32 "libcairo patch not available in the repository"
Hi @HikariKnight,

By looking the repository, I can’t find any information about what you’ve done to the libcairo2.so in order to get it to work. In general I think it’d be good to insert some transparency to random blobs of binary in the repository, but the main problem is that it’s compiled against libpng12.so, which is not anymore present in modern distros (well, atleast in mine).

I don’t know

[2014-04-10 23:00] pineman opened #33 "Anti Aliasing"
Hello @HikariKnight
Thanks for this great client! It works great.

However, in game, my anti aliasing setting does not seem to work. It's irrelevant whether I choose '4x' or '2x' or disabled. The game still has jaggy edges.

Is this normal? Any ideas?

[2014-04-13 07:18] Numkil opened #34 "Bitrock download links have been unavailable for over a week."
Hello @HikariKnight, I love your work with this client but could you please provide some new download links because I don't think the old ones will be coming online soon.

[2014-05-23 17:06] #34 closed, assigned to nobody

[2014-05-23 17:07] #33 closed, assigned to nobody

[2014-06-07 19:27] liamnoone opened #37 "Request: Ability to run game directly"
@HikariKnight

What I'd like is the option, either via a seperate .desktop, or a command-line option, to run the game directly, effectively the same as running the standard client and clicking 'Play Game'. This would (in theory) allow the game itself from `primusrun` (`bumblebee`) and the like, while now (as far as I know), doing that will launch the client with primus but not the game itself. It'

[2014-06-07 19:49] #37 closed, assigned to nobody

[2014-06-10 12:53] DarkArc opened #38 "AUR is a dead link"
@HikariKnight The link to the AUR in README.md should be https://aur.archlinux.org/packages/unix-runescape-client/ instead of https://aur.archlinux.org/packages.php?ID=59362.

Also this is completely unrelated, but your drop box is over band with and I can't get a hold of the browser fixing script. So if you could change to hosting that on github that would be great. You can use a github repositor

[2014-06-21 14:30] ivanpu opened #39 "Implement easy launching profiles switching"
## Background

Lately Jagex running many public beta servers. To log into any of them with current mechanics of the client, we need to create new prm file for the beta, and then select in the client settings which prm file we want to use.
## My propose

Create "profile system".
### Visual change

Replace two "Play" buttons with drop down list for profile selection and single "Play" button.
### The

[2014-07-23 11:28] #38 closed, assigned to nobody

[2014-08-11 20:57] martirio3000 opened #41 "if launcher is unable to recieve online users then it is useless."
Well i have a problem with rs launcher. If it cant load the online users of rs then this happens( photo ). It is a very anoying issue and it keeps me from playing
![2014-08-11 23 53 20](https://cloud.githubusercontent.com/assets/3630327/3882749/203c285c-219a-11e4-8244-519350969d6e.png)

[2014-11-24 18:33] Mishio595 opened #43 "Resizeable graphics option doesn't adjust to window size"
@HikariKnight

When selecting the resizeable option for in-game graphics, the game doesn't expand to the max window size. I'm using an EWMH compliant tiling wm. The fullscreen option functions normally.

[2014-12-05 15:50] darkeclipz opened #44 "Runescape crashes at video auto setup"
Hi all,

My client crashes at the moment I click the button for the auto video setup. Apparently it throws some sort of exception:

Error: client.init:1263 sun.reflect.NativeMethodAccessorImpl.invoke0 sun.reflect.NativeMethodAccessorImpl.invoke:57 sun.reflect.DelegatingMethodAccessorImpl.invoke:43 java.lang.reflect.Method.invoke:606 Rs2Applet.a:56 Rs2Applet.init:394 app.appletviewer.b:1296 jagexap

[2014-12-05 16:29] #44 closed, assigned to nobody

[2014-12-11 04:17] cwexperts opened #45 "Multiple instances of RSU?"
In my experience with Windows client, starting multiple clients would create separate caches for each one and that allowed me to store separate names on login + separate graphical settings for my secondary account. But on Linux, when I load a secondary client, it just loads the original cache again while on windows I had jagexcache, jagexcache1, 2, etc. from all the isntances by the client + brows

[2014-12-11 12:05] #39 closed, assigned to nobody

[2014-12-15 06:46] grawity opened #46 "-Dhttps.protocols=SSLv3"
Commit a1f7afdee6d55a12911cfe195c2e20125c5a3213 added the `-Dhttps.protocols=SSLv3` option. It doesn't explain however why it is needed &ndash; did it default to the ancient SSLv2, or did it have compatibility issues with the newer TLSv1.x?

Either way, though, with many sites (including likely Jagex) rushing to drop SSLv3 support, this will need to be adjusted to use some version of TLS.

[2014-12-30 22:38] JohnPeel opened #47 "Portage package (for Gentoo)"
I've created a portage package for rsu in my overlay at https://github.com/JohnPeel/dgby-overlay/blob/master/games-rpg/unix-runescape-client/unix-runescape-client-4.2.9-r1.ebuild

I've got it setup to automaticly update the config to use the system-java as well as update some settings depending on use flags.

I also noticed a problem with the config (the example). You give section names in the exa

[2015-01-15 09:42] HikariKnight commented on #47
_ is a default section, it works the same way as no section (undefined secion) as the original conf files had no sections

[2015-01-15 09:43] HikariKnight commented on #46
this was added in order to make prm files work over https with some help from jagex

[2015-01-15 09:44] HikariKnight commented on #45
over 1 month with no reply, closing issue

[2015-01-15 09:44] #45 closed

[2015-01-15 09:46] HikariKnight commented on #43
might be because the game (or java?) expects an actual window container with a titlebar and frames, just a theory.

[2015-01-15 09:48] #29 closed

[2015-01-15 09:48] #25 closed

[2015-01-15 15:22] Mishio595 commented on #43
@bayanr Yes, that is exactly the problem.

@HikariKnight It is an actual window container. Tiling window managers have no reason for titlebars so they're omitted (although awesome has a way to enable them). It seems to me that the game doesn't recognize the forced size change of the window, but floating the window and manually resizing doesn't seem to work either. And as I've never had problems wi

[2015-01-15 17:16] JohnPeel commented on #47
@HikariKnight I know, what I was saying was that there is an inconsistency between the example config and the default.

The example uses "Settings" and "Fixes" for section names, where the default uses "_". (rsu-client seems to only support the default section "_")

[2015-01-15 19:02] bayanr commented on #43
Just going to add that this problem is nonexistent on awesome(default installation from Arch repos). I'm going to try to look into why this is the case.

[2015-01-16 07:15] grawity commented on #46
That was a year ago; I am not sure it is any longer necessary.

In fact, testing it on Arch, `com.jagex.config=https://` does not work at all if SSLv3 is forced – it shows an error message without even attempting to connect. (The error dialog is unfortunately black-on-black.) I tried Oracle jre8, jre7, openjdk8, openjdk7, none of them work with SSLv3.

They all, however, automatically use TLS if I

[2015-01-19 07:35] HikariKnight commented on #47
@JohnPeel oh whops, i will take care of that when i get home today, my bad!

[2015-01-19 07:52] HikariKnight commented on #46
ok will take a poke at it today when i get home hopefully

[2015-01-20 14:51] HikariKnight commented on #46
i will have to email philip about this

anyway the reason for the line was to enable the use of prm files over https, it was not something that was needed but there was a few players that were on networks that only accepted https traffic, philip then put up a https link for the prms for those affected.

in short, no the default prm is not available through https
however it can be reached through h

[2015-01-20 15:00] HikariKnight commented on #46
@grawity after some poking around on my own it seems like that some ciphers are used that are unsupported.
might be my test environment though

Ignoring unavailable cipher suite: TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
Ignoring unavailable cipher suite: TLS_DHE_RSA_WITH_AES_256_CBC_SHA
Ignoring unavailable cipher suite: TLS_ECDH_RSA_WITH_AES_256_CBC_SHA
Ignoring unsupported cipher suite: TLS_DHE_DSS_WI

[2015-01-20 18:48] HikariKnight commented on #46
@grawity after some more testing (and me being stupid changing my test source and then run the installed client instead of the local test client) i got https working again and futureproofing it, should jagex change to TLS1.x

change the
-Dhttps.protocols=SSLv3

to
-Dhttps.protocols=TLSv1,TLSv1.1,TLSv1.2

i will push out a fix for this as soon as i can

[2015-01-21 15:42] HikariKnight commented on #43
@bayanr tell us if you find out something. i will keep the issue open for now (few months) to wait for the results

[2015-01-21 16:03] HikariKnight commented on #47
@JohnPeel i am not familiar with portage, just curious if you made an installer for the client for gentoo

[2015-01-21 16:04] #46 closed

[2015-01-21 16:04] #41 closed

[2015-01-22 01:28] JohnPeel commented on #47
I did, it's in my layman overlay. If people want to install it they either have to add my overlay to their layman or just download the ebuild to their local overlay. If you'd like I can create a small wiki page on it.

[2015-01-22 01:30] JohnPeel commented on #47
This package pretty much does the same thing as the arch package, I just make a modification or two to the configs. A default config doesn't work on Gentoo because our java is a shell script. I just set the default java path to our system-wide java install location.

You can see the modifications here -> https://github.com/JohnPeel/dgby-overlay/blob/master/games-rpg/unix-runescape-client/unix-rune

[2015-01-22 14:15] HikariKnight commented on #47
would be nice if you did then i will link the page in the Readme.md

[2015-01-22 16:31] JohnPeel commented on #47
I would suspect anyone using Gentoo already knows how to do this, but here is a simple page with links for more information.

https://github.com/JohnPeel/dgby-overlay/wiki/Installing-rsu-client-on-Gentoo

[2015-01-26 11:48] HikariKnight commented on #47
added to readme.md

[2015-01-26 11:48] #47 closed

[2015-01-26 13:51] HikariKnight opened #48 "Future of wxPerl and potential python+html based launcher"
First of all this is just an idea or concept for a problem with the current launcher and that is wxWidgets, or rather its perl bindings wxPerl.

Even though it is a joy to use it to make native GUIs, it has a major drawback and that is its update cycle which is 1-2 updates per year and is sadly is behind on the development of wxWidgets (understandable when wxPerl has only 1 developer that i know o

[2015-01-26 16:35] JohnPeel commented on #48
I prefer #1, and I don't understand what you mean by it not being "feasible".
I'm pretty sure anything your currently doing in Perl can be done in Python.
If you do decide on porting to Python, I'd love to help.

[2015-01-26 16:52] tmondrag commented on #48
What sort of performance or security issues have popped up because of the update schedule of wxPerl?

Just to be cautious, I would go with option 2 temporarily with option 1 being my ultimate goal, but I can imagine why going with option 1 right away might be way more appealing.

[2015-01-26 22:00] HikariKnight commented on #48
@tmondrag the issues is that wxPerl falls easily behind on the development of wxwidgets so we need to wait quite a while for new features to be implemented or bugfixes to happen (like the wxwebview memory leak)

@JohnPeel i am a complete python noob though but i am trying to learn it, so far i have not found a way to sideload a non compiled script to run through a compiled script while retaining a

[2015-01-27 03:28] JohnPeel commented on #48
@HikariKnight I could prob write up a quick proof of concept, and it may even give you some ideas of things to change.

[2015-01-27 06:32] HikariKnight commented on #48
@JohnPeel that would be great

[2015-01-27 11:42] HikariKnight commented on #19
decided i wont be able to fix this as it would require a "special" gtk theme for the launcher itself where we have to make sure it works with the common gtk engines that are in use. However after this issue came up, i changed the theme so it does not affect the tabs but only objects inside them.

[2015-01-27 11:42] #19 closed

[2015-01-27 11:44] HikariKnight commented on #32
when/if i get some freetime (longer than 3 hours) i will look into making a ppa package for this and maybe have optional precompiled versions in the client.

[2015-01-27 14:34] HikariKnight commented on #48
oh and for eveyone else, here is a mockup of how nicely themed the launcher can become with a customized html layout in PyQT5

![image](https://cloud.githubusercontent.com/assets/2557889/5920075/fc092e10-a639-11e4-8145-7d436a3db56b.png)

[2015-01-27 20:32] JohnPeel commented on #48
Ok, so some notes, I'm pretty sure I could do the same thing rsu currently does for perl, but I don't really like the layout and how it works.
Do you have any ideas for how you want it?

Also some things can be dropped because they are already in modules included with python.

[2015-01-27 20:49] HikariKnight commented on #48
@JohnPeel just a layout that looks more runescape'ish which is easily achieved by using html/css through QWebView
also i basically want a similar setup where there is a core file that loads and runs scripts (that are not compiled into the binary) based on what parameters is passed to it.
it has to be able to do this in order for it to be easily updateable without recompiling the binaries.

[2015-01-27 20:51] JohnPeel commented on #48
By layout I mean file layout.

Binaries? I haven't seen any other than Runescape.exe and cairo.

[2015-01-27 20:53] JohnPeel commented on #48
O, do you mean a py2exe binary?

[2015-01-27 21:09] HikariKnight commented on #48
@JohnPeel similar, i have been looking at nuitka (need to test it on osx though)
also there is another binary its rsu-query.exe and rsu-query-darwin
they are downloaded from a different github repository,
its basically a compiled version of rsu-query-unix
if we can replicate rsu-query-unix without including all its includes in the exe we are good

[2015-01-27 21:30] JohnPeel commented on #48
@HikariKnight https://gist.github.com/JohnPeel/f0596b3cc1ae6b732624

[2015-01-27 21:40] HikariKnight commented on #48
@JohnPeel will give it a try tomorrow as I'm heading off now

[2015-01-27 21:52] JohnPeel commented on #48
@HikariKnight Tested it, seems to work fine, I updated the gist to show results.

[2015-01-28 07:13] HikariKnight commented on #48
@JohnPeel also the file layout ended up like it is now because i never got any other suggestions on how to put it, i am open for a new and better structure if you have one

[2015-01-28 09:54] HikariKnight commented on #48
Working on compiling a gcc compatible qt5 for osx to perform tests.
My osx version does not support clang so that's why I need a gcc compatible at on Mac :)

[2015-01-28 18:58] HikariKnight commented on #48
Seems like if we move over to use PyQt5 we will have to stop supporting MacOSX Snow Leopard as Qt-5.3.2 which is the minimum version required by PyQt5 refuses to compile properly

Dont think there are many RuneScape players left that use Snow Leopard these days, even so the old client (v4.3.0) will still work for them.

[2015-01-29 19:55] HikariKnight commented on #48
@johnpeel @ivanpu seems like moving to pyqt will break compatibility with snow leopard due to issues with newer versions of webkit that are used in qt.

How does it sound that we make this python port into a reality though and in the meantime I will only provide minor updates to the Perl version (like potential support for runescape nxt?).

It will also give us a chance to overhaul the internal fi

[2015-01-29 21:59] JohnPeel commented on #48
@HikariKnight Sounds good. I have no clue about the name, I suck at that part. =P

Also, just a question but you mean the weird importing ("use" thing) rsu-query-unix does when you say "same system"?
Is that really needed; you said previously it was for cross-platform support, but I don't see it.

I can help with the internals port, but that's it. I am completely horrible at gui work.

[2015-01-30 00:11] HikariKnight commented on #48
@JohnPeel internals are fine, gui will just be a manipulated html from jagex
i will see what i can do gui wise

and yes the "use" thing is needed as it makes it easier to update the program without recompiling the packaged script binaries for platforms that needs that

[2015-02-12 13:32] HikariKnight commented on #48
@JohnPeel busy with moving atm but here is a rsu-launcher with GUI and working buttons (no news refresh atm and fancy stuff, need to get the logic sorted first)
that you can play around with when you have time until i am done moving :)

https://www.copy.com/s/y88FzDr8iSgS/Public/RSU-python-tmp/rsu-launcher.zip

features:
* slimmed down web gui from runescape homepage displayed through QWebView
* s

[2015-02-12 19:04] JohnPeel commented on #48
@HikariKnight I am in the same situation, weird coincidence, I've been getting swamped with classwork and about to move soon, so I haven't done any work yet.

I'll try to get something done, and I will start thinking about alternatives that will work, but you might already have a good solution here. It just seems weird.

[2015-02-12 21:13] HikariKnight commented on #48
@JohnPeel the solution i use needs to be more organized which it can become with the help of someone else to help designing the structure, the current structure is from me making it myself as nobody gave me any input about it when i made it so my dyslexia didnt make the structure look like a mess for others i bet :P

[2015-02-20 17:20] NFAUG opened #49 "minimap messed up."
@HikariKnight     ive noticed that rezising dosent work as intended, and one of the problems is i have to quickly make it fullscreen before it loads otherwise FS dosent work, but when i get into game theres always this spot on the map thats messed up, its long rectangler. i took a screenshot and here it is.

https://www.dropbox.com/s/zco87dsj369x4s5/2015-02-20-121817_1600x900_scrot.png?dl=0

edit

[2015-02-21 17:03] Mishio595 commented on #43
Verified that Awesome does not have this issue. I wonder if it has to do with how awesome handles window sizing. Awesome's config is entirely in lua, so I think the window size that awesome passes to X also is lua readable, which might also be recognizable by the Java game client. Just a guess as BSPWM is controlled via shell commands to bspc (I assume the window information is passed directly to

[2015-02-22 14:32] lerp commented on #43
It's to do with the way Java recognizes window managers. It has a hard-coded list of known non-reparenting window managers. A solution is to use `wmname` (http://tools.suckless.org/wmname) to tell Java you are using a non-reparenting window manager. Using `wmname LG3D` and then launching the program fixes the problem for me.

[2015-02-22 16:14] Mishio595 commented on #43
Just tested wmname. Works perfectly! Thanks so much

[2015-02-22 16:15] #43 closed

[2015-02-23 21:57] HikariKnight commented on #49
hi @NFAUG your picture link is broken

also i will see if i can contact @ivanpu about the aur build

[2015-02-23 22:04] ivanpu commented on #49
@HikariKnight
Picture link worked for me few days ago, it looked like when you have "empty" chunks in Minecraft...

AUR build: I see there was version bump... I wonder how I missed the "outdated package" mail...

[2015-02-23 22:11] NFAUG commented on #49
so sorry, i cleaned out my dropbox and thats not the only image i accidentally deleted. ill see if i can get it back up, i might have a copy.  or ill just take a new one since its still present if you guys still need it.

[2015-02-23 22:12] ivanpu commented on #49
You can post images here... by just dragging them into text box ;)

[2015-02-23 22:15] NFAUG commented on #49
it dosent seem to be happening anymore, and the game did do an update once i begin playing it. so maybe w/e they did on their end fixed it?

[2015-02-23 22:17] ivanpu commented on #49
Might be, or might be corrupted cache that was reset by update.
I guess this issue can be closed now?

[2015-02-23 23:08] NFAUG commented on #49
its back,
![2015-02-23-180755_1600x900_scrot](https://cloud.githubusercontent.com/assets/11094033/6339774/04c4d4ac-bb87-11e4-99f1-4f2210caffad.png)

[2015-02-24 00:01] kr0g3r commented on #49
I get the same thing using the official client.

[2015-02-24 19:30] NFAUG commented on #49
oh, maybe its a bug on their end than, i was thinking it was the rsu-unix client.

[2015-02-26 21:58] #49 closed

[2015-03-06 15:38] patriqdesigns opened #50 "When logged in remove "Jagex rights" label."
In Runescape Windows client, You have that "Runescape belongs to Jagex" box in the bottom, but when you log in it disappears. Using RSU in Linux it doesnt which results in a waste of precious space.
@HikariKnight, please remove that label once we are logged in! Or make a Add-On to remove that label, other that the fullscreen emulator (since it doesnt work in gnome).

By the way I am using Fedora 2

[2015-03-06 21:09] hostonnet commented on #50
You can't remove it. What you see is not created by rsu-client, it is just jar file created by runescape.

I wanted to remove that.. so tried to "git grep", but no success, later found rsu-client have no GUI, it just call jar file provided by runescape. I don't know why Jagex add such copyright to Linux client and not on Windows client.

[2015-03-06 23:48] PatriqDesigns commented on #50
What about the jagex cache part?
You think if I provide my own jar it would work fine?

[2015-03-08 13:37] MushyBean opened #51 "How do I launch the client without the perl-wx dependency?"
I'm trying to see if I can get Old School Runescape to run on a Raspberry Pi using this client.
It probably won't run very well but it's worth a try.

I'm running the ARM version of ArchLinux and installed this client from the AUR repository which also installed most of the dependencies for me except for a few which couldn't be found.
I managed to manually install the remaining dependencies except

[2015-03-08 16:30] hostonnet commented on #51
Try downloading the Jar

[code]
Running it with

[code]
YOURWORLDHERE  should be changed with the world you need to use. somthing like oldschool76 etc.. i am not very sure as i don't play oldschool.

[2015-03-08 17:45] MushyBean commented on #51
I ran:

    java -cp jagexappletviewer.jar -Dcom.jagex.config=http://oldschool33.runescape.com/jav_config.ws -Xms256m -Xmx256m jagexappletviewer .

and received:

    Exception in thread "main" java.lang.UnsatisfiedLinkError:
    /usr/lib/jvm/java-7-openjdk/jre/lib/arm/xawt/libmawt.so: libXtst.so.6: cannot open shared object
    file: No such file or directory
            at java.lang.ClassLoader$

[2015-03-08 18:04] hostonnet commented on #51
Look like something wrong with libXtst.so

I checked url with

[code]

That shows something, looks good.

Maybe try oracle java and see if it works.

[2015-03-08 19:29] ivanpu commented on #51
You need to install package `libxtst`. It is an optional dependency for `jre7-openjdk`, and hence most likely was not installed yet.

[2015-03-08 19:50] ivanpu commented on #50
Both the top bar and the bottom bar disappear for me, when I log in.

Clearing it will reset all client settings, and will force it to redownload the whole cache again. I have no idea if this will help in current situation.

This jar file is the actual game client, and it's contents are under copyright and responsibility of Jagex. Modifying it strictly against the terms of services that you agreed

[2015-03-08 19:53] ivanpu commented on #48
Looks nice, although no preferences from me: I equally do not know either of perl or python :)

[2015-03-08 21:07] MushyBean commented on #51
That was it!
Thanks for the help guys, OSRS is now running on the Pi.
At the moment there's no audio and obviously it would be nice to try the RSU-Client in the future, but for now this is fine.

[2015-03-08 23:14] ivanpu commented on #51
Glad to help.
I think I'll add this to the AUR package.

[2015-03-08 23:27] ivanpu commented on #51
@HikariKnight may shed more light on the original error.

[2015-03-09 06:46] PatriqDesigns commented on #50
I downloaded the standalone jar and still no luck.
What I meant for clearing jagex cache, I was asking how would I be able to change the cache directory like rsu does, so I could implement it in my Runescape loader. I really wanna know how too! :+1:

[2015-03-09 14:31] HikariKnight commented on #50
@PatriqDesigns @ivanpu @hostonnet hey
i am guessing Patriq is using Java8 which broke the language/copyright bars

tell rsu to use java7 and you should be sorted. luckily you can just extract java7 and point rsu to it through the launcher options, kinda the reason it's there as i predicted oracle would mess up more more stuff with java after the libjawt incident ;)

also changing the cache is easy

[2015-03-09 14:38] HikariKnight commented on #51
@MushyBean @ivanpu @hostonnet

<pre>runescape client.launch.runescape --prmfile=oldschool.prm</pre>

should let you launch directly

<pre>runescape help</pre> if you want list all commands that can be passed to rsu-query
<pre>runescape [command] help</pre> if you want more info about a command (without brackets)

[2015-03-09 14:56] HikariKnight commented on #48
at the moment it seems like windows and mac users cant get a packaged PyQT app to work propely so worst case it will  be Linux only and will work on windows and mac if you install the dependencies.

might be me doing something terribly wrong too

[2015-03-09 16:20] MushyBean commented on #51
Many thanks, that worked.
It does still warn me about Wx but the client launches without problem.

[2015-03-11 10:11] HikariKnight commented on #51
@MushyBean ye its just generic warnings i made for missing modules to make it easier to see "what am i missing" instead of "why doesnt this work" :P

[2015-03-11 10:13] #51 closed

[2015-03-13 19:23] PatriqDesigns commented on #50
You can close! Thank you alot! Please if you need any help enchancing this loader I would love to help!
Tell me something on skype: amendes_rey

[2015-03-13 19:42] ivanpu opened #52 "Remove dependency on external file sharing sites"
We now have installers provided using external file sharing site. There was already one problem with previous site, that blocked access due to high traffic. But why use external site at all, when GitHub provides the needed feature?

## [GitHub Releases](https://github.com/blog/1547-release-your-software)
They are extending the existing tags: you can add (markdown formatted) description to it, and

[2015-03-13 19:44] ivanpu commented on #52
[Known limitations](https://help.github.com/articles/about-releases/#limitations-on-binary-files):

[2015-03-16 07:57] HikariKnight commented on #52
@ivanpu i will look into it next week when i have some more time as alot of stuff is happening for me lately, but i do like the idea and it will make giving out the installers easier for us

[2015-03-16 13:08] HikariKnight commented on #48
going to open a development branch soon in the future, any suggestions for a name for this python based rsu-client?

perhaps RSU NxT to compliment jagex new client that is under development or maybe keep the current name RSU-Client?

[2015-03-16 19:44] tmondrag commented on #48
RSU NxT might be jumping the gun a bit. I hope their NxT client doesn't go the same way as their HTML5 canvas attempt (which, yeah, I understand it was quite successful but it was way ahead of what current browser can implement) but I wouldn't pin my hopes and dreams to it. I would be more confident if they would get their bestiary working again >.<

How about RSU-Py or something redberry pie insp

[2015-03-27 12:38] ivanpu commented on #48
NxT might be a bit confusing, exactly because it's already known to be the name of next client by Jagex. Maybe some snakes related name, since it'll be in Python?

[2015-03-27 16:33] PatriqDesigns commented on #48
RSUp :+1:  p means it uses Python!

[2015-04-01 10:33] Mikaela opened #53 "Something is wrong with the PPA"
@HikariKnight on Ubuntu 14.10 upgrading the client fails and same with `dpkg --configure -a`.

[code]

[2015-04-01 12:52] HikariKnight commented on #53
i am aware of it  and it will be fixed later today(as in a few hours when i am allowed to request builds again).
i already went out and notified people on the forums and on [twitter](https://twitter.com/rsHikariKnight/status/582990670484262912) when the issue occured

for the time being you can run
sudo rm /var/lib/dpkg/info/runescape.*

then install this deb package until the PPAis fixed (should

[2015-04-01 19:24] ivanpu opened #55 "Packaging file to /usr/local/"
The directory `/usr/local/` is reserved for the computer user/owner management, and packages should not modify it's content.

In this case, the single script it contains should go under some subdirectory of the client (`/opt/runescape/...`).

[2015-04-01 19:32] Mikaela commented on #55
I would use just `/usr`, but `/opt` might be better for projects like this as Steam and Google Chrome are putting them there I think.

[2015-04-01 19:38] ivanpu commented on #55
@Mikaela, it is already packaged (usually) to `/opt`.
This issue is about one specifc file: [xdg-open](https://github.com/HikariKnight/rsu-client/blob/master/runescape/templates/packaging/usr/local/bin/xdg-open)

[2015-04-01 20:00] HikariKnight commented on #53
PPA package fixed, should get published within the next hour

[2015-04-01 20:00] #53 closed

[2015-04-01 20:04] HikariKnight commented on #55
I guess the only way for you then would be to notify the user that they should copy the file there if they are on Xfce to make the jagex-jav protocol work.
I was able to avoid this by using the postinst script in the debian package/PPA unless AUR has something similar that works that way.

[2015-04-01 20:07] ivanpu commented on #55
Yes, there are postinstall scripts, but your sed script modifies nothing in the current version of `xdg-open` (1.1.0) in ArchLinux.

[2015-04-01 20:10] HikariKnight commented on #55
@ivanpu
as long as the xdg-open in /usr/bin contains the line
<pre>elif xprop -root 2> /dev/null | grep -i '^xfce_desktop_window' >/dev/null 2>&1; then DE=xfce;</pre>

it will be ok to not include the xdg-open script from the client as your xdg-open will be of the newer versions that have the xfce4 issue fixed :)

[2015-04-01 20:20] ivanpu commented on #55
Ok, then this is not needed at Arch :)

P.S.
Don't forget issue #54.

[2015-04-01 20:27] #55 closed

[2015-04-04 15:29] ktmn opened #56 ""Play now" nothing happens, how to debug?"
I'm on Windows 8.1, downloaded the installer, hit Play now and nothing happens. How do I find out what's the problem?

[2015-04-04 18:41] ivanpu commented on #56
Did you run the updater? It's the next button.

[2015-04-04 19:15] ktmn commented on #56
Updated jagexappletviewer.jar and rsu-api, no change unfortunately.

[2015-04-04 20:10] ivanpu commented on #56
Just tested on Window 7 laptop... yeah, launching from command line gives no output :disappointed:

Ok, next thing to check: do you have java installed?

[2015-04-04 20:27] ivanpu commented on #56
@HikariKnight
I'll add "me too" for this issue - I have no idea why it's not working at Windows 7.

[2015-04-04 20:35] ktmn commented on #56
I got Java 8 U 31. No output from command line either. It just starts the client and returns.

[2015-04-05 21:58] ivanpu commented on #56
Got it working (_using Java 8u40_): Goto settings, in `preferred java` select `custom-java` and then `browse` for the binary.

[2015-04-06 05:00] ktmn commented on #56
Yep that did it, thanks.

[2015-04-06 05:00] #56 closed

[2015-04-06 05:53] ktmn opened #57 "Black bars"
How come the client has black bars on top and bottom?

Official client doesn't have these bars, I though this one was based on it, so how could they appear?

http://i.imgur.com/9RZWwxh.png

I feel like there's a performance improvement to my chunk loading times with this client and would like to use it, but not with the black bars.

Any way to remove them?

Thanks.

[2015-04-07 10:13] HikariKnight commented on #57
@ktmn
The black bars removal code that mod Philip wrote, does not work in java8. Try tell the client to use java7 or java6 instead and have your system keep using java8

Also about the chunk loading is improved by letting java use multiple processor cores for loading new chunks, i will link you the prm lines that are applied with the java optimization option enabled in the Linux client

[2015-04-16 07:21] ktmn commented on #57
Installed Java 7u80 and set the client to use it, black bars are gone, thanks.

[2015-04-16 07:21] #57 closed

[2015-04-17 05:33] HikariKnight commented on #57
Whoops i forgot to link you the parameters

- XX:+AggressiveOpts
-XX:+UnlockExperimentalVMOptions
-XX:+DisableExplicitGC
-XX:+TieredCompilation
-XX:ReservedCodeCacheSize=256m
-XX:+UseAdaptiveGCBoundary
-XX:SurvivorRatio=16
-XX:+UseParallelGC
-XX:+UseParallelOldGC
-XX:+AggressiveOpts

It's the ones mentioning parallel
However the others help performance and are used with it too.

For 32bit java you

[2015-04-17 05:41] HikariKnight commented on #57
The dot is meant to be a dash -

For Java 64 bit the equivalent of the -client parameter is -XX:+UseCompressedOops

It fixes several stuttering issues related to textures

[2015-04-17 12:26] ivanpu opened #59 "Client crashes, if no data recieved from RSS feed"
When no data received from RSS, client crashes:
[code]
I can't access that downloaded file after the crash (.download folder already deleted?), but when redownloading `http://www.runescape.com/player_count.js?varname=iPlayerCount&callback=jQuery17209493430445436388_1382425275438&_=1429271184` manually, I get file with only 1 line:
[code]

Looks like it does not happen always, sometimes data does c

[2015-04-20 07:57] HikariKnight commented on #59
This is something I have tried to fix on the side for ages without luck sadly. I am still trying though

[2015-04-20 08:00] HikariKnight commented on #59
Also the file it downloads is the player count jQuery. For some reason it did not like parsing without downloading it when I made the player count. The OSRS player count is read from the website though.

[2015-04-20 08:58] HikariKnight commented on #59
will apply a few extra checks to see if it helps, along with a debug line containing the rssfeed content

[2015-04-20 09:35] HikariKnight commented on #59
@ivanpu pushed v4.3.3
might solve the issue, but no guarantees as there is no easy way to properly test.

[2015-04-20 09:53] HikariKnight commented on #52
finally got around to do this, adjusted readme.md to reflect this change and removed copy.com links from the frontpage.

closed

[2015-04-20 09:53] #52 closed

[2015-04-29 10:14] HikariKnight commented on #48
Thinking we should wait till NxT is released and possibly make this a launcher for that if needed as it will save us the trouble of porting all the java fixes and quirks

[2015-04-29 10:38] ivanpu commented on #48
Hopefully, the only launcher that NxT will need is .desktop file (or .lnk on windows).
We literally have the current launcher because of Java :smirk:

[2015-05-07 07:08] HikariKnight commented on #48
@ivanpu was thinking the same which is why I think we should wait before we risk using time and then NxT is released shortly after

[2015-05-08 15:26] SourSkittles opened #60 "rsu client works and then after a computer restart I can't open it anymore..."
okay so idk what just happened but I installed this client and after a bit of fidling with the settings I got it to finally start up the runescape client like it should, well I ended up restarting my computer shortly after and well now I can't get the rsu client to load up at all every time I start it up it seems to go and just terminate itself without any sorta error or anything.

I've tried to r

[2015-05-08 15:52] SourSkittles commented on #60
Well I figured out what the error is that's happening by just loading up the rsu-query.exe (which is where it's crashing at to begin with)

this is the error that pops up for a split second and then closes itself.
" LWP: :Simple module not found, API calls using LWP: :Simple will either use alternative methods
Reading value from "newschannel"
Setting script data newschannel to runescape
Fetching t

[2015-05-08 22:04] HikariKnight commented on #60
it is an odd issue that can happen on windows sometimes

go into the directory "%TEMP%" and delete the folder that starts with the name

par-

followed by some random numbers
that directory is used to store the perl runtime on windows.

then relaunch the client (will take longer as it will recreate the directory from scratch as if it is running for the first time)
if that doesnt work then delete t

[2015-05-08 22:06] SourSkittles commented on #60
Yea I literally just thought of that as I was looking through my process lasso log and noticed the temp folder, was just about to come back and say I finally got it working lmfao >..< thanks though haha I'll at least remember this next time I have this issue.

[2015-05-08 22:48] HikariKnight commented on #60
i will close this then :)

[2015-05-08 22:48] #60 closed

[2015-05-11 12:57] SourSkittles commented on #60
Okay this is getting very annoying, idk what to do really other than go back to using the actual rs client but I don't want to because of the options that your client lets me do.. When ever I close your client for whatever reason I can't even re-open it again later unless I go in to the temp folder and delete the folder that your client makes :/

[2015-05-12 14:00] HikariKnight commented on #60
Could be an issue on windows 8? Idk

If you want I can give you all the lines that you need in the official prm file to get the same performance in the official client.
Sadly you cannot move the cache in the official client without symlinks though

[2015-05-12 15:35] SourSkittles commented on #60
who knows tbh, and nah it's fine (the official prm file would do the same thing anyways with the rsu client as I already tested it) I'm using the prm file that I found on you twitter page for "the high end computer" since my computer is more high end.

Anyways I just automated the deletion of the folder (after a bit of fiddling around with bat files and other tools since it was getting annoying do

[2015-05-12 16:47] HikariKnight commented on #60
just as a heads up about that par- folder though
if i have to recompile the binary (rsu-query.exe) in the future it is not going to have a random set of numbers after it but it will be named par-rsu.
just so you are aware of it :)

it will be mentioned in the patch notes if it does happen but i highly doubt it as i havent had to recompile since version 1.5.x or something like that.

[2015-05-12 16:51] SourSkittles commented on #60
okay haha not a big problem or anything as the way I have my stuff set up it just searches for the "par" part of the folder so no matter what happens as long as that first part doesn't change then I won't have to edit my files.

[2015-05-19 11:12] HikariKnight commented on #59
this seems to be working now, cant be sure if patch worked or if the newsfeed haven't gone down since patch.
closing issue, reopen or make a new once if problem happens again.

[2015-05-19 18:20] madyoda opened #61 "Unexpected behavior - doesn't open"
[code]

I get this message whenever I try to open rsu client. Any idea?

I'm running on Arch Linux, AwesomeWM DE. Same behavior on GNOME 3.16.

[2015-05-20 17:08] ivanpu commented on #59
Looks like it's resolved:
![screenshot from 2015-05-20 20-06-07](https://cloud.githubusercontent.com/assets/2607888/7731823/d9470078-ff2b-11e4-95eb-00556ac0ef4d.png)

[2015-05-20 17:23] ivanpu commented on #61
I'm getting the same output (and many more), but in my case everything works fine.
Although, I'm using perl-wx 0.9923-1, while AUR have 0.9927-3.

Is it new installation?
If not, good bet will be to rebuild all perl related packages that are installed from AUR.

[2015-05-20 17:45] madyoda commented on #61
New installation. If I remember correctly I was getting a weird perl issue last time it tried to upgrade. I'll go try rebuild that now.

[2015-05-20 18:02] madyoda commented on #61
Ah, yes. This error when trying to install perl-wx.
[code]

Googling doesn't seem to return anything. Nor does downloading the tarball & makepkg'ing it.

[2015-05-25 22:31] ScoreUnder opened #62 ""sh: 1: aoss: not found" when selecting alsa as audio driver"
I use alsa so I thought it would be beneficial to set that in the options. This happened:

[code]

The client would not start up until I switched to the default.
I don't use OSS.

[2015-05-29 09:48] HikariKnight commented on #62
you still need the program "aoss" to force oracle java to use alsa sadly as the openjdk method does not work on it(hence aoss as a dependency in packages), openjdk uses a different method to get alsa working since aoss does not work with it.

[2015-06-01 13:02] HikariKnight commented on #59
woho!

On Wed, May 20, 2015 at 7:08 PM, Ivan <notifications@github.com> wrote:

[2015-06-23 13:30] ruifscouto opened #63 "First setup - Graphics autoconfig - crash"
@HikariKnight

Hey,
I've just started using this on El Capitan, trying to bypass the fact that the official client requires Java 6 which can't installed in OS X anymore.
When rsu is done fetching updated it shows me the first use screen, saying:
Graphics Setup
This is your first time playing. Cllick below to auto-choose best graphical settings.

I then click auto-setup and the client crashes.

[2015-06-26 21:17] ivanpu commented on #63
Mac is not my area, maybe @HikariKnight can help...

[2015-06-26 21:21] ivanpu commented on #61
From comments in perl-wx package it looks like the problems with it were resolved...
@madyoda , do yous still have the problem, or can this issue be closed?

[2015-06-26 21:25] ivanpu commented on #32
This workaround no longer needed for ArchLinux with current cairo package.
IDK about other distros...

[2015-06-29 08:37] HikariKnight commented on #32
@ivanpu
Will monitor this

[2015-06-29 08:42] HikariKnight commented on #63
Java7 and above does not work with runescape due to Oracle breaking libawt/libjawt /dylibjawt
And refusing to fix it. This issue could be worked around in Windows and Linux but not on Mac sadly.

Mod Philip have confirmed an official fix is in the workings on twitter for when the new Mac osx gets released

[2015-06-29 08:44] HikariKnight commented on #62
Over 1 month without reply, auto closed

[2015-06-29 08:44] #62 closed

[2015-08-12 02:19] TheWiseNoob commented on #61
I'm having this same problem. I couldn't get the latest perl-wx to build because of this.

[2015-08-15 18:10] ivanpu commented on #61
@TheWiseNoob
Did you try to build 'perl-alien-wxwidgets' with the wxgtk2.8 hack?
It is there for the cases when it can't be build with wxgtk3.

Although in my case all works well with wxgtk3...

[2015-09-01 02:28] jacobmischka commented on #50
I know this is closed, but mine still seems to stay up after changing the launcher to use java7. any suggestions? @HikariKnight

[2015-09-07 20:19] bayanr opened #64 "File not found ~/.config/runescape/share/cache/jagexappletviewer.preferences"
When trying to launch the game, the following exception is thrown:

java.io.FileNotFoundException: ~/.config/runescape/share/cache/jagexappletviewer.preferences (No such file or directory)
	at java.io.FileOutputStream.open(Native Method)
	at java.io.FileOutputStream.<init>(FileOutputStream.java:221)
	at java.io.FileOutputStream.<init>(FileOutputStream.java:171)
	at app.m.b(m.java:53)
	at app.apple

[2015-09-08 22:54] IceQubed opened #65 "Opening program doesn't seem to do anything!"
Hi @HikariKnight - on my chromebook (running ubuntu trusty with xfce4) I've attempted to use both the installer and the console apt-get command method to install this program.

The icon/shortcut is in my launcher menu, however when I click it nothing happens.

When I try to run the command "runescape" in terminal, I get this: http://pastebin.com/9MtGKuLT

Have I done something stupid? Any idea why

[2015-09-12 12:03] bayanr commented on #64
Issue solved. Just run the following command:

touch ~/.config/runescape/share/cache/jagexappletviewer.preferences

[2015-09-12 12:03] #64 closed

[2015-09-15 11:39] HikariKnight commented on #50
show me the terminal output, also try and refetch the jar file (preferrably the one that is nor windows/mac based as jagex have a tendency to bump spesific jar versions depending on what they fix)

[2015-09-15 11:44] HikariKnight commented on #65
<pre>Response from RSSFEED: Timed out while waiting for socket to become ready for reading

This is the RSS contents we found:
Timed out while waiting for socket to become ready for reading

Content must be RSS|RDF|ScriptingNews|Weblog|reasonably close at /opt/runescape/rsu/framework/Perl5lib/XML/RSSLite.pm line 32.</pre>

seems like it failed to fetch the newsfeed and crashed, thought i fixed thi

[2015-09-15 11:45] HikariKnight commented on #64
hmm curious to why it did not create that folder to begin with.

[2015-09-15 12:07] bayanr commented on #64
Most likely it is a bug in the client. I think the file should be created
by the RSU launcher just in case since the rs client doesn't seem to mind
if it's there.

On Tue, Sep 15, 2015 at 2:45 PM, HikariKnight <notifications@github.com>
wrote:

[2015-09-15 17:42] jacobmischka commented on #50
Oh wait, you know what, I'm an idiot. I've been talking about osrs, not rs3. Does that copyright bar never go away in osrs?

[2015-09-16 19:55] doorknob60 opened #67 "Add prm for Darkscape (pasted in here)"
I don't have time to figure out how to fork and submit a pull request, but I have a working darkscape.prm file for the recently released Darkscape https://darkscape.runescape.com/. Here it is:

-Djava.class.path=jagexappletviewer.jar
-Dcom.jagex.config=http://www.runescape.com/jav_config_beta.ws
-Xmx512m
-Xss2m
-Dsun.java2d.noddraw=true
jagexappletviewer

[2015-09-16 21:10] ivanpu commented on #67
Here is a *very* simple method to create a working prm:
`cp  runescape-beta.prm darkscape.prm`
:wink:

[2015-09-17 00:44] Emp-M commented on #67
Hikari has already created a prm file for darkscape, [found here](https://www.copy.com/s/t%3AqrRtTZWItMHrc6L0%3Bp%3A%252Fprms/darkscape/rsu/runescape_darkscape.prm%3Boid%3A1164), and placed in:
    ~/.config/runescape/share/prms/

The other alternative is to open the launcher, click settings, and where it says Paramater File: rename it to "runescape-darkscape.prm" without quotes. Then you change t

[2015-09-17 19:23] ivanpu commented on #67
Oh, sorry, he (@HikariKnight)  should have placed them here:
https://github.com/HikariKnight/rsu-client/tree/development/runescape/share/prms
That's where I was checking...

[2015-09-18 06:59] HikariKnight commented on #50
I dont really play oldschool but i don't think it does, will test it today

[2015-09-18 07:02] HikariKnight commented on #67
Reason i didn't place it there was because I didn't have time and was on a system without git or the ssh keys needed to sign into github, it will most likely be sorted out today

[2015-09-18 09:40] HikariKnight commented on #67
done
https://github.com/HikariKnight/rsu-client/releases/tag/v4.3.4

[2015-09-18 09:40] #67 closed

[2015-09-18 22:10] LevyWilson opened #69 "Weird graphical problem"
I'm getting a weird graphical problem when I load the client. I'll let the screenshot speak for itself.

Running Lubuntu 14.4

@HikariKnight

![2015-09-18-175659_1280x720_scrot](https://cloud.githubusercontent.com/assets/10651328/9972227/73481bf4-5e30-11e5-8274-8ade1aa00e40.png)

[2015-09-20 01:11] jeffhoe commented on #50
Did you get a chance to look at a way to remove that text at the bottom? I went looking through config files and such, couldn't really find anything. The only thing that shocks me is that in OSBuddy, it's not there. Why can they get rid of the copyright text??

[2015-09-24 21:36] HikariKnight commented on #69
ehh i have no idea what is happening here.
either a driver issue or a cache issue is my best guess sadly

[2015-09-25 14:43] HikariKnight commented on #61
Closed as there have been no response in a month.
Assuming issue Is resolved.

[2015-09-25 14:43] #61 closed

[2015-09-25 14:48] HikariKnight commented on #50
OSbuddy is using their own appletviewer while I am using the official one (hence why this client is considered a community developed official client)
Also no I did not get time to check it. If they do not disappear for me then there is a config thing on jagex end since it works on Windows.

[2015-09-25 14:49] HikariKnight commented on #63
Implemented as of v4.3.4

[2015-09-25 14:50] #63 closed

[2015-09-25 15:18] HikariKnight commented on #50
just checked, it is removed without issues for me with openjdk7
![old school runescape_001](https://cloud.githubusercontent.com/assets/2557889/10104308/67063604-63a9-11e5-9c2b-ff73c9bec84f.png)

[2015-09-25 15:35] jeffhoe commented on #50
That's interesting.. I'm also running openjdk7.

![screenshot_2015-09-25_11-33-52](https://cloud.githubusercontent.com/assets/6145757/10104770/65728f3e-6379-11e5-89a5-ec71583d9c92.png)

![screenshot_2015-09-25_11-32-54](https://cloud.githubusercontent.com/assets/6145757/10104725/4b0ce4fa-6379-11e5-948d-90d1e3fcc7bc.png)

[2015-09-25 15:39] jacobmischka commented on #50
I'm not home right now to give info, but a friend of mine and myself are both also on arch x64 using openjdk7 and it doesn't go away.

[2015-09-26 15:34] HikariKnight commented on #50
Could it be linked to resizable mode? I haven't played since before resizable got released (as you can see I am still dressed for last Halloween)

Farfetched theory but we can try everything before I try to poke Philip to see if he has any ideas :)

[2015-09-26 15:43] jacobmischka commented on #50
Well. It is possible to make it look as if it's disappeared in fixed mode, though it's actually still there, just outside the window border since the UI doesn't resize when the window does. Maybe that's how it works, and why it doesn't work in resizable mode.
![screenshot from 2015-09-26 10-42-05](https://cloud.githubusercontent.com/assets/3939997/10118350/641907f4-643b-11e5-856d-ac32c39e4579.png)

[2015-09-27 01:48] HikariKnight commented on #50
Poked Philip on twitter, will email him should that be necessary (he will most likely not respond directly on this issue ticket as jagex is not associated with the project)

[2015-09-29 09:55] HikariKnight commented on #50
hey @jacobmischka, Philip have replied to me, here is what he said
<pre>Hi,

This was a bug that I fixed in the client fairly recently, so I suggest they update the jagexappletviewer.jar, and it might disappear! :)

Hope that helps,

Philip
Technical Director (RuneScape)
Jagex Games Studio</pre>

[2015-09-29 18:23] allie commented on #50
Hi,
I updated the jagexappletviewer.jar file (both through the updater in your application and by downloading directly from the site), but it still does not seem to have worked unfortunately:

![screenshot from 2015-09-29 14-19-56](https://cloud.githubusercontent.com/assets/10043207/10174016/7e48c066-66b5-11e5-9713-a4a5701ddfa0.png)
![screenshot from 2015-09-29 14-19-48](https://cloud.githubuserco

[2015-09-30 07:47] HikariKnight commented on #50
ok just to rule out the possibility of you having downloaded a cached jar file (cached by your ISP, meaning it might be outdated for a few weeks), can you try this one which is the newest one
https://copy.com/FLPYQnFFNIthEunr/temp/jagexappletviewer.jar?download=1

I will keep the jar file there only for a couple of days (if you confirm it is working)
If you report it not working then i will inform

[2015-09-30 07:53] hostonnet commented on #50
wget runescape.com/downloads/jagexappletviewer.jar?somerandom_str -O jagexappletviewer.jar

fixed it for me.

[2015-09-30 07:57] HikariKnight commented on #50
@hostonnet ye but if its ISP cached (which have been the case with client files from jagex before) it will not bypass it with wget :/ but we will see :)
try both wget and the file i uploaded, if wget dont fetch the newest jar then use the one i uploaded which i know is the newest one.

[2015-09-30 09:29] hostonnet commented on #50
wget won't bypass cache.

But when you have  "?" at the end of url, and some random string/number, it will be treated as different uri and will bypass the cache.

[2015-09-30 12:17] jacobmischka commented on #50
Still no luck. Tried both the one you uploaded, and wgetting with the fake get variable.

![screenshot from 2015-09-30 07-16-14](https://cloud.githubusercontent.com/assets/3939997/10192611/31d39038-6743-11e5-9390-852669c597c1.png)
![screenshot from 2015-09-30 07-16-24](https://cloud.githubusercontent.com/assets/3939997/10192612/3429f818-6743-11e5-9df1-bfa01666c592.png)

[2015-09-30 15:24] HikariKnight commented on #50
Reply from Philip

[2015-09-30 15:45] jacobmischka commented on #50
Yeah I'm not sure, it's the most recent version of OpenJDK 7 available in the arch repositories. It does it with 8 as well. I guess I can try with oracle's java, but yours seems to work with openjdk so I don't really understand what the problem is.
[code]

What version do you have that it's working on, @HikariKnight?

[2015-09-30 16:00] clotifoth opened #70 "OSRS stops at "Loaded update list""
@HikariKnight

Running Trusty Ubuntu on an Acer c720 using Crouton. I have gotten the client to work prior to today.

I have tried clearing the cache, reinstalling rsu-client, allocating more memory, different versions of Java (tbh a given jre shouldn't be a dependency here, or at least not the ancient openjdk-6 but that's a different issue) restarting, and running as administrator. University doe

[2015-09-30 16:01] HostOnNet commented on #50
I am on RS 3, it is gone for me.

[code]

[2015-09-30 16:14] jacobmischka commented on #50
I've never had a problem with it going away on RS3.

[2015-09-30 16:27] clotifoth commented on #70
If I run the client as root, it loads fine. This is still bad behavior and it shouldn't be necessary to run rsu-client.

[2015-09-30 16:46] HikariKnight commented on #50
Will check my Java version when I get home, currently waiting for takeaway so eta 30min to 1 hour

[2015-09-30 16:47] jacobmischka commented on #50
Okay great, thank you.

[2015-09-30 16:52] HikariKnight commented on #70
Running as root should not be necessary. Only thing I can ask you to try is to assign a different directory to be used as the jagexcache or try loading the config through https (change the config url in settings) since once the client loads, my scripts don't do anything else.

[2015-09-30 17:58] HikariKnight commented on #50
<pre>java version "1.7.0_75"
OpenJDK Runtime Environment (IcedTea 2.5.4) (7u75-2.5.4-1~utopic1)
OpenJDK 64-Bit Server VM (build 24.75-b04, mixed mode)
</pre>

[2015-09-30 18:48] jacobmischka commented on #50
Still no luck after downgrading to 1.7.0_75.

[2015-10-01 11:09] HikariKnight commented on #50
Ok this is very weird. I have no more ideas

[2015-10-02 11:46] HazCod opened #71 "Add Proxy support for installer"
@HikariKnight

[2015-10-02 19:49] subject546 opened #72 "debian install"
hi,

please change the title from "Installation on Debian" to "Installation on ubuntu based systems"
assing ppa's on a pure debian system could leave you with a broken system.. debian (or something that is close to it) users should just build from source.
https://wiki.debian.org/DontBreakDebian

subject546

[2015-10-05 20:33] HikariKnight commented on #71
im sadly not able to add proxy support for the installer as the installer is made using the bitrock installation builder.

all the installer is doing though is downloading the master.zip and extracting it then running the make-desktop-icons script

[2015-10-05 20:39] HikariKnight commented on #72
the ppa packages i provide are debian compatible as they do not rely on any other ppas, only base packages that are available in both ubuntu and debian.

the packages are the source as they are all scripts, there is nothing to build.

[2015-10-10 12:12] subject546 commented on #72
ah then it's fine.. i was alarmed to fast ;p

[2015-10-10 13:47] emersonh opened #73 "Error when launching client on Fedora 22"
@HikariKnight, Installed Fedora 22 today, followed instructions in the README and was successfully able to run the launcher, when pressing __Play Now__ or running "__runescape client.launch.runescape__" directly, I get the following output.

http://paste.ee/p/kDmzY

Help greatly appreciated, thanks!

[2015-10-10 15:20] emersonh commented on #73
Apologies. Fedora comes with (or I may have selected, I don't remember) a pre-installed openjdk which is designed to run on a headless system. After running __# dnf install java-1.8.0-openjdk-devel__ the game loads fine.

[2015-10-10 15:20] #73 closed

[2015-10-13 05:30] HikariKnight commented on #72
Ye last thing i want to do is break someones system :)

[2015-10-13 05:30] #72 closed

[2015-10-17 11:13] fusion809 opened #74 "RuneScape Facebook Integration"
Hi,

I have installed RSU 4.3.4 via the .run installer (which I must say is great, whoever thought to create a .run installer deserves a good pat on the back) and while I know this may be on Jagex's turf not RSU's I was wondering why in some desktop environments (DEs) the Login with Facebook button doesn't work (that is, it does not open my web browser to log me in with Facebook) while in others i

[2015-10-20 07:10] HikariKnight commented on #74
Its because of how jagex opens the browser through the applet. The api they use is not reliable on all desktop environments. Sadly I do but know how the api determines what desktop environment it is on and how it checks for browsers.

[2015-10-20 07:29] ivanpu commented on #74
From my experience, it works on xfce and lxde, but not on cinnamon.
Can't remember about other DEs I've used.

[2015-11-01 14:49] edwsqa opened #75 "Can't log in osrs"
@HikariKnight , after pressing "log in" button client crashes. Then terminal says this:

A fatal error has been detected by the Java Runtime Environment:

  Internal Error (os_linux_zero.cpp:285), pid=16907, tid=2096100464
 fatal error: caught unhandled signal 4

 JRE version: 6.0_36-b36
 Java VM: OpenJDK Zero VM (23.25-b01 mixed mode linux-arm )
 Derivative: IcedTea6 1.13.8
 Distribution: Ubuntu

[2015-11-02 19:28] edwsqa commented on #75
nvm i installed java 7 or something and it worked lol :P

[2015-11-02 19:28] #75 closed

[2015-11-03 08:42] #71 closed

[2015-11-03 08:44] HikariKnight commented on #75
You were using a different JVM with openjdk6.
Rusescape supports only the default JVMs

[2015-11-08 01:09] HeartyJ opened #76 "Fedora instruction does not install all dependencies."
Hello! So, as the title says, running Fedora 22 it fails to install perl-Wx. Perl-Wx seems to be needed to display things. Further, I get an warning stating: "WARNING: Wx::WebView module not found, API calls using Wx::WebView will not work". Haven't been able to find the dependency for this. Here's how I would fix it:  sudo dnf install perl "perl(List::MoreUtils)" "perl(Config::IniFiles)" "perl(Ar

[2015-11-10 00:38] jonnyjamm opened #77 "hey, need some help :) @HikariKnight"
@HikariKnight  hey dude im trying to get you client, but im new to ubuntu ive done the things you said but one the first command it said "sudo apt-add-repository command not found" could you please help :)

[2015-11-10 07:25] HostOnNet commented on #77
Run

[code]

[2015-11-11 23:42] HikariKnight commented on #76
WxWebView is a newer library that is yet to make it to the main repos as its still too unstable. It's available in newer versions of wx-Perl. Depending on what comes first (newer wxPerl or nxt) I might make use of WxWebView for those that have it available. As of now it is just a debug warning for the possible future.
Also will update the readme to correct the capitalization

[2015-11-11 23:43] HikariKnight commented on #77
What @hostonnet said

[2015-11-17 05:04] HikariKnight commented on #76
done

[2015-11-17 05:04] #76 closed

[2015-11-18 17:00] Unk1 opened #78 "Banned"
Hi!

@HikariKnight

I got banned by Jagex Anti-Botting system by using this client. Perm banned.
No warning at all. Got warning 12:20 CET 2015-11-16; then 12:30 three automatic Perm banned notes.

RSN: skatedawe
I've been member for 11years and playing runescape since 2013, November.

I want to warn you about this and all the players. It's impossible to communicate with the staff. I can't find any

[2015-11-18 17:08] Unk1 commented on #78
from /var/log/dpkg;

When removing the project from computer:

Start-Date: 2015-11-16  18:07:09
Commandline: apt-get remove runescape
Remove: unix-runescape-client:amd64 (3.2-2), runescape:amd64 (201509210840~git-master~ubuntu14.04.1)
End-Date: 2015-11-16  18:07:10

[2015-11-18 17:31] HostOnNet commented on #78
I dot see why rsu-client can get you banned. Client itself is created by jagex. Client is buggy after they removed the copy right thing, every time i login, it force me mis click as mouse click few pixels off, look like they have not compensated for extra pixels freed when removing copyright or something, i think this can trigger macro system.

Just remembered, i should try updating .jar file (i d

[2015-11-18 17:39] Unk1 commented on #78
I don't understand it either, i would never bot/macro etc, loyal member since 2005.

[2015-11-18 20:29] ivanpu commented on #78
This client is more appropriately should be called "launcher": all it does is optimizes java environment and launches the actual client that is written by Jagex.
It does not interact with the game in any way... unless some of the extensions does.
Have you any of the extensions installed for it, btw?

And about the offset in visuals:
It is [well known bug](http://services.runescape.com/m=rswiki/en/

[2015-11-18 20:32] Unk1 commented on #78
Thanks for input. No addon what i know of, never used it if.

[2015-11-21 01:13] ivanpu opened #79 "Load news after the GUI is shown"
@HikariKnight
I was checking RS Linux thread, and stumbled upon this idea, that apparently did not work for you in the past.
From what I understood, it did not work for you using Perl threads.
I don't know the Perl side, but I do work a lot with wxWidgets with C++.
I think this might work if we implement it right, unless there are some bugs in wxPerl that I'm not aware of.

1. Create/declare new e

[2015-11-21 12:30] quetea opened #80 "License"
@HikariKnight whats the programs license? i cant see anything here regarding copyright

[2015-11-21 12:58] ivanpu commented on #80
GPL2: [rsu-client/runescape/COPYING](https://github.com/HikariKnight/rsu-client/blob/master/runescape/COPYING)

[2015-11-21 13:06] quetea commented on #80
should that not be in the root folder, or at least somewhere obvious?

[2015-11-21 13:14] ivanpu commented on #80
Can't find where, but I remember that @HikariKnight said once that he can't move files now out of subdirectory due to some PPA restrictions.
He may be able to explain this better...

[2015-11-21 13:15] quetea opened #81 "rsu-client-master/runescape/share/cache/jagexappletviewer.preferences (No such file or directory)"
java.io.FileNotFoundException: ~/bin/rsu-client-master/runescape/share/cache/jagexappletviewer.preferences (No such file or directory)
        at java.io.FileOutputStream.open0(Native Method)
        at java.io.FileOutputStream.open(FileOutputStream.java:270)
        at java.io.FileOutputStream.<init>(FileOutputStream.java:213)
        at java.io.FileOutputStream.<init>(FileOutputStream.java:162)

[2015-11-21 13:16] quetea commented on #80
aah, still, a coyping link in the root directory would be a good way around that

[2015-11-21 13:21] ivanpu commented on #80
I actually agree :+1:

[2015-11-21 13:35] ivanpu commented on #81
This looks like you installed/unpaked the client into `~/bin/rsu-client-master` and have forced the cache directory into `runescape/share/cache` subdirectory of it.
This exception comes from the Jagex code, that it can't find it's cache files...

Did you create this `~/bin/rsu-client-master/runescape/share/cache` directory?
And do you have write access to it?

By default your home directory is use

[2015-11-21 14:12] quetea commented on #81
i just unpacked the archive to ~/bin with ark, literally havent changed any of the default configuration

[2015-11-21 15:18] ivanpu commented on #81
Then you shouldn't have the `cache` directory yet.
Go check, create it if needed, and try again.

[2015-11-22 14:40] quetea commented on #81
why on earth doesnt it just come with one? oh well
now im getting this
Exception in thread "main" java.awt.HeadlessException
        at java.awt.GraphicsEnvironment.checkHeadless(GraphicsEnvironment.java:204)
        at java.awt.Window.<init>(Window.java:536)
        at java.awt.Frame.<init>(Frame.java:420)
        at java.awt.Frame.<init>(Frame.java:385)
        at app.appletviewer.a(appletviewer

[2015-11-22 18:37] ivanpu commented on #81
[java.awt.HeadlessException](http://docs.oracle.com/javase/7/docs/api/java/awt/HeadlessException.html):

public class HeadlessException
extends UnsupportedOperationException
[code]

[2015-11-24 08:57] HikariKnight commented on #80
pulled

[2015-11-24 08:57] #80 closed

[2015-11-24 09:00] HikariKnight commented on #79
i can give it another shot when stuff is calm irl
PS: point 3 is already implemented so i'm getting there ;D

[2015-11-24 09:16] HikariKnight commented on #78
From what i know, it could be from having some blacklisted software running in the background.
And i know that RSU itself is in a whitelist, i will try to poke someone that can check this further but i cannot promise any results as this is not the way to deal with bans.

[2015-11-24 09:24] HikariKnight commented on #69
no word back, over 1 month passed so closing this.
if issue resurfaces the please re-open the issue or make a new issue

[2015-11-24 09:24] #69 closed

[2015-11-24 09:27] HikariKnight commented on #81
the client should generate the folders and files itself, no idea why it wont do it here, might have to manually make the cache folder

[2015-11-24 12:00] Unk1 commented on #78
@HikariKnight Thanks! Do you know somehow to appeal. There is no way to reach the admins etc, what i've know. The ban is not ban is not appeal-able which reach me to a dead end, which is a public disgrace for Jagex.

[2015-11-24 16:26] quetea commented on #81
i installed projectlibre earlier last night and it seems to have installed whatever was missing, fairly surprised to see that fedora is distributed without the full JRE

[2015-11-24 17:45] HikariKnight commented on #78
you have been unbanned and it will be looked into further, keep in mind this is not normal practice so consider yourself lucky

[2015-11-24 17:45] #78 closed

[2015-11-24 21:18] ivanpu commented on #81
@quetea
Initially installed packages depend on what the distribution manager deems needed.
For example ArchLinux comes with almost nothing (part of KISS principle) and Ubuntu comes with some bloat. After the initial setup is *up to the users* to install what they need.

Distributions like Mint that have Java-based software installed by default, do have some JRE (usually OpenJDK or Oracle) installe

[2015-11-25 10:21] quetea commented on #81
if youre gonna install some of the JRE why not just go the whole hog? oh well

[2015-11-27 20:24] fusion809 opened #83 "RSU 4.3.5 is now in the Entropy repositories"
Hi,

Yesterday the [RuneScape Unix Client 4.3.5](https://packages.sabayon.org/show/unix-runescape-client,161120,sabayonlinux.org,amd64,5,standard) was added to the Entropy repositories. Entropy is the package manager of Sabayon Linux (a Gentoo derivative). I thought this bit of news might be helpful for you (@HikariKnight) to add to this repo's README.

Thanks for your time,
Brenton

[2015-11-28 11:06] HikariKnight commented on #83
Hey this is sweet, could you also give me the command if any to install it too?

[2015-11-28 11:08] HikariKnight commented on #81
If you run a server then you want the least overhead when running stuff, hence why packages get split up like that

[2015-11-28 11:22] fusion809 commented on #83
Sure `sudo equo i unix-runescape-client`.

[2015-11-28 11:39] fusion809 commented on #83
I just forked this project, if you would prefer I can add these additions myself, and then do a pull request.

[2015-12-01 09:46] HikariKnight commented on #83
pulled and merged and sorted out

[2015-12-01 09:46] #83 closed

[2015-12-01 09:50] HikariKnight commented on #65
is this still a problem @IceQubed ?

[2015-12-01 09:50] HikariKnight commented on #70
no reply for 1 month, auto closed

[2015-12-01 09:50] #70 closed

[2015-12-01 11:05] HikariKnight commented on #32
should not be needed anymore, patch to disable the built in libcairo-nogl will come in the future

[2015-12-01 11:05] #32 closed

[2015-12-11 23:06] HikariKnight commented on #48
small headsup to everyone @ivanpu @JohnPeel
there might be a big chance that NXT will be allowed to be repackaged for other distributions by the community

referrence: https://twitter.com/JagexPhilip/status/675234451748724736

[2015-12-21 13:58] ivanpu commented on #48
Thanks, here's another one:

...
New Game Client update| 20:00 UTC, Tuesday 22nd December

[2016-01-05 09:21] HikariKnight commented on #77
closed as its been over a month since last reply

[2016-01-05 09:21] #77 closed

[2016-01-05 09:23] jonnyjamm commented on #77
cheers mate :) you really help us out :)

On Tue, Jan 5, 2016 at 9:21 AM, HikariKnight <notifications@github.com>
wrote:

[2016-01-05 09:23] HikariKnight commented on #81
closed as there have not been any activity in over a month

[2016-01-05 09:23] #81 closed

[2016-01-10 09:23] CaptainMcClellan opened #86 "SDL Framebuffer Output"
Request: Outputting the display to a framebuffer driver/interface of some sort for Linux systems not running with a windowing environment.

[2016-01-10 10:04] ivanpu commented on #86
Are you asking for this launcher, or for the game itself?

### rsu-client

I think it may be possible, but most work should be done on your side:

1. You have to [compile wxDFB](https://github.com/wxWidgets/wxWidgets/blob/master/docs/dfb/install.txt).
2. You may need to recompile/reconfigure wxPerl to use wxDFB instead of wxGTK.

Then the client should run in framebuffer, except all the unimplemen

[2016-01-11 04:07] ashdouglas95 opened #87 "Troubles with installation"
Installation on Debian

Open the Terminal program and type in the following commands:
[code]
Everything worked until I got to Sudo apt-get install unix-runescape-client
 at that point it told me Unable to locate package unix-runescape-client

Am I doing something wrong/missing anything for proper download? Or is it simply not compatible

[2016-01-11 21:21] ivanpu commented on #87
Did you had any error messages in the previous steps?
I do not use Debian, so can't tell anything about correctness of the commands, but they should work.

P.S.
I've edited the commands to be easier to read.

[2016-01-11 21:24] ivanpu commented on #79
Good... only 5 left :stuck_out_tongue:

[2016-01-12 02:36] ashdouglas95 commented on #87
Well if you are 100% positive your way works. How do I go about completely restarting and retrying from step one using your method?

[2016-01-12 04:52] HostOnNet commented on #87
Which version of debian you are using ? I read it is not recommended to use ppa in debian ?  I mostly use Ubuntu, had a installed a debian 8 yesterday for testing, if it is same version, i can try and see if it works.

[2016-01-12 06:26] Devodorax opened #88 "Keyboard Input"
@HikariKnight When playing the game, keyboard seems to send random input, most commonly resulting in the camera spinning in one direction, and only one specific character can be typed regardless of what key.

[2016-01-12 20:13] ashdouglas95 commented on #88
https://www.youtube.com/watch?v=3u_QolSJYoY
https://www.youtube.com/watch?v=HLdPepraVGA

I did everything through these video's.

[2016-01-24 17:20] GamingFTW opened #90 "Fatal Error"
I've been trying to get runescape on Tumbleweed OpenSuse, but i've been having some trouble.
The first error I got was "permission denied." I have all the dependencies installed so I don't know that is going wrong.
The error I have now is a fatal error:
Fatal Error: Mismatch between the program and library build versions detected.
The library used 2.8 (no debug,ANSI,compiler with C++ ABI 1002,wx c

[2016-01-26 09:37] HikariKnight commented on #90
according to wxwidgets that is an error you get if you have multiple versions of wxwidgets installed.

[2016-01-26 09:39] HikariKnight commented on #88
No idea what causes it but i believe it is related to a weird bug in the game client itself.
i remember having the issue on my minipc but not on any of my other computers so it might be cpu based too

[2016-01-26 09:44] HikariKnight commented on #87
the
<pre>Unable to locate package unix-runescape-client</pre>

means that the
[code]
must have failed

[2016-01-26 22:19] GamingFTW commented on #90
Okay. I fixed the first error. Now I get this error. This was happening before. I get this error every single time I try to play. Permission Denied: http://pastebin.com/TegBDLmQ

[2016-01-26 22:42] ivanpu commented on #90
Don't... Just *don't* launch it with `sudo`.
On 27 Jan 2016 12:19 a.m., "GamingFTW" <notifications@github.com> wrote:

[2016-01-26 23:06] ivanpu commented on #90
Looking more closely at the output:
Besides all the errors you are getting from running it as root, you also
don't have executable permission on
`/home/GamingFTW/Documents/rsu-client-master/runescape/rsu/bin/rsu-query-unix`.
On 27 Jan 2016 12:42 a.m., "Ivan Puntiy" <ivan.puntiy@gmail.com> wrote:

[2016-01-27 02:07] GamingFTW commented on #90
I fixed the error. I switched to Manjaro Linux.

[2016-02-02 12:46] #90 closed

[2016-02-02 12:47] HikariKnight commented on #90
closed at request from Author

[2016-02-09 19:16] ivanpu commented on #59
@HikariKnight
Still exists:
[code]

[2016-02-09 19:28] ivanpu opened #91 "RS Linux thread forum link"
@HikariKnight
Since the thread is dead... should we remove the link from the client as well?

[2016-02-16 11:48] HikariKnight commented on #91
Been working on moving the thread to the new forum. They decided to inform me about the removal of the old forum while i was on vacation and 1 day before the removal/hiding og the forum

[2016-02-16 21:19] ivanpu commented on #91
Oh, good, I'll wait with PR then :)

[2016-02-19 11:41] HikariKnight commented on #91
sadly it seems like they wont be sticking it

http://services.runescape.com/m=forum/forums.ws?409,410,414,65748539

that is the new link

[2016-02-19 14:48] ivanpu commented on #91
:+1:

[2016-02-19 14:48] #91 closed

[2016-02-21 19:34] fusion809 opened #92 "Bug on openSUSE Tumbleweed; Java applet starts but is not loaded properly"
Hi,

I have used this excellent program on the following platforms without this particular issue:
- Arch Linux
- Fedora 22
- Manjaro Linux
- Sabayon Linux

yet for some reason most of the time (occasionally I get lucky and the Java applet loads fine) on openSUSE Tumbleweed when I start RSU under KDE Plasma 5 the Java applet loads (no GTK window shown [here](https://camo.githubusercontent.com/b9ff7

[2016-02-21 19:37] fusion809 commented on #92
@HikariKnight sorry forgot to notify ya

[2016-02-21 19:56] fusion809 commented on #92
Ah, I found the cause of why no RSU client (and rather the Java applet starts) starts. I didn't have [`perl-Wx`](https://software.opensuse.org/package/perl-Wx) package installed. Please amend the:

[code]
command for installing the dependencies to:

[code]

This issue does not fix the Java applet issue, though.

[2016-02-21 20:04] fusion809 commented on #92
If it helps here is my runescape.prm file:
[code]

here is my rsu-settings file:
[code]

[2016-02-21 20:15] ivanpu commented on #92
Hmm... you shouldn't edit [rsu-settings](https://github.com/HikariKnight/rsu-client/blob/master/runescape/rsu-settings) file, it's part of the client.
All your configurations should be in [`rsu-client/runescape/share/configs/`](https://github.com/HikariKnight/rsu-client/tree/master/runescape/share/configs), or `~/.config/runescape/share/configs/`, depending on installation.

What Java (vendor && v

[2016-02-21 20:20] fusion809 commented on #92
I didn't edit that file, I was sharing it in case it was helpful (like in case it wasn't set properly by the BitRock installer). My Java version/vendor is something I'm not 100% sure about but I'm guessing that running `java -version` will show this info, if so here is the output of this command:
[code]

[2016-02-21 20:29] ivanpu commented on #92
OpenJDK 9!?
I would not recommend to use it yet, unless you are helping with its development.
For example, take a look at [their schedule](http://openjdk.java.net/projects/jdk9/):

...
2017/03/23		General Availability

Latest stable is 8, and last time I heard about it, it still had few issues with RS.
I myself use 7, and it works well.

[2016-02-21 20:32] fusion809 commented on #92
OK, so does this mean I have to uninstall OpenJDK 9? Or can I just adjust the settings of RSU to use OpenJDK 7? Is this is done via going to `Settings` (in the RSU client window) and setting "Preferred Java to use" to 7-openjdk? If so I've already tried that and it failed to get the RS Java applet to start properly. And yes, after changing that setting, I tried closing my existing RSU windows and

[2016-02-21 20:34] ivanpu commented on #92
Yes, in the launcher settings... you can also try to select `custom-java` and then fill the path to openjdk7 `java` executable.
Also, what do you get in the console from running the client?

[2016-02-21 20:46] fusion809 commented on #92
[Here](http://paste2.org/MJbVYa7I) is the output from running `runescape` from the command-line. OK, this is proving difficult... Do you know where the executable is for openjdk7 on openSUSE? I've installed the [`java-1_7_0-openjdk`](https://software.opensuse.org/package/java-1_7_0-openjdk) package and running:
[code]
returns nada...

[2016-02-21 20:58] ivanpu commented on #92
rpm -ql java-1_7_0-openjdk | grep /usr/bin
[code]

[2016-02-21 20:59] fusion809 commented on #92
That `rpm -ql java-1_7_0-openjdk | grep java` returns:

[code]

[2016-02-21 21:21] ivanpu commented on #92
Just use the ``Browse`` button, and see if you have `/usr/lib64/jvm/jre-1.7.0-openjdk/bin/java` file.

[2016-02-21 21:24] fusion809 commented on #92
I have that file and setting that as my custom-java path, saving that setting, closing RSU, restarting it (and yes I checked in settings to see that this setting stuck) and pressing "Play Now" launches the RS Java applet with the same bug as I started with.

[2016-02-21 21:27] ivanpu commented on #92
Strange... let's poke @HikariKnight :point_right:

[2016-02-21 21:32] fusion809 commented on #92
You sure the label "issue" still fits this topic? Sounds more like a bug to me, unless I am unclear on the definitions used for each label.

[2016-02-21 21:51] ivanpu commented on #92
It definitely does not deserves a `bug` label - the problem is after launching Jagex code = not _our_ bug.
And... I myself not quite sure what the `issue` label stands for, but this issue does look like an issue to me :no_mouth:

[2016-02-22 10:54] HikariKnight commented on #92
@fusion809 @ivanpu hello i was summoned?
I cant find anything in the output either, could we get an updated one from after you told it to use OpenJDK7?

I have never seen this issue before though.

[2016-02-22 10:55] HikariKnight commented on #87
closed due to inactivity

[2016-02-22 10:55] #87 closed

[2016-02-22 10:55] HikariKnight commented on #86
closed due to inactivity

[2016-02-22 10:55] #86 closed

[2016-02-22 10:56] HikariKnight commented on #74
closed due to inactivity

[2016-02-22 10:56] #74 closed

[2016-02-22 10:56] HikariKnight commented on #65
closed due to inactivity and no response

[2016-02-22 10:56] #65 closed

[2016-02-22 11:14] HikariKnight commented on #48
@JohnPeel @ivanpu @tmondrag @PatriqDesigns Soo, with NxT in its preview i would say i am happy with the option to move the cache in it!
Also about our python idea. I think it might be better for us to use [Electron](http://electron.atom.io/) instead as it will give us the flexibility we need when it comes to news and such.
So... anyone here that is good with javascript, html, css and node.js?

I p

[2016-02-22 11:52] ivanpu commented on #48
I'm good with html and css, but my js is a bit rusty.
Have not learned node.js yet.

Electron does look good, might worth for me to learn node.js now, irregardless of this launcher :)

For now I don't really see a need for a nxt launcher launcher.

[2016-02-22 12:47] HikariKnight commented on #48
i have been better at js than html+css, i did give electron a whirl and it looks really nice as you have the power of css to make your app look exactly the way you want without writing custom modules/widgets and stuff

Only reason i can see a "launcher launcher" being useful would be for easy switching between darkscape and runescape3 (since oldschool and classic will most likely not get a c++ cli

[2016-02-23 07:22] fusion809 commented on #92
Oddly enough I rebooted and this error seems (not confident enough to declare this from the rooftops, though, rofl) to have subsided. Might have been a Java issue, so I'll close this issue until (and if) it resurfaces.

[2016-02-25 02:02] fusion809 commented on #92
The issue striked again. See for the output: http://paste2.org/MCw4ag52.

[2016-02-26 13:18] shinnova opened #93 "Launcher/client doesn't start"
I have been trying all day to get the client to work but I haven't been succesful. I've tried multiple ways of installing but none of them seem to work for me. All dependencies are satisfied.
- Tried to install from the AUR with and without perl-wx. Had to use the 2.8 hack for perl-wx to get that installed, wxgtk3 doesn't work for me.
- Tried a prebuilt version of the client.
- Used the x64 instal

[2016-02-26 13:42] shinnova commented on #93
Just now I tried using the universal version as well, but the result was still the same.

[2016-02-26 14:13] ivanpu commented on #93
WARNING: Running in fallback mode!
rsu-queries will use the system perl so some API calls
may not work until you install certain modules
[code]

[2016-02-26 14:17] ivanpu commented on #92
Try to (re)move `~/runescape/rsu/3rdParty/linux/cairo-nogl`.
Not sure what else we can try...

[2016-02-26 14:19] ivanpu commented on #88
Might be outdated libraries, or some java bug... what java do you use?
`$ java -version`

[2016-02-26 14:26] shinnova commented on #93
[code]
Would be the whole output. I refrained from adding the Gtk-WARNING because I tend to get those in every application I start from the terminal, but I should have added it in case it does have anything to do with the client not starting. So I apologise for that.
Out of the dependencies I have all of the required ones, and from the optional dependencies I am only missing pulseaudio as I use al

[2016-02-26 14:41] shinnova commented on #93
I have fixed my gtk warning issue by installing gnome-themes-standard, and my full output is now
[code]
So it seems like this is not related like I originally thought.

[2016-02-26 14:56] ivanpu commented on #93
Yes, that specific gtk warning should not interfere with the client, it'll only affect how the window is themed.

Actually, I've just remembered, that rsu-client does not pass some perl errors to the user... (@HikariKnight, is it intentional?)
What is the output of:
`$ perl -e "use Wx;"`

What else is worth checking, is perl related packages.
Do you have any local `perl-*` packages, that were buil

[2016-02-26 14:58] shinnova commented on #93
[code]
Seems I got nothing out of that. But I shall double check my perl packages. While I believe I managed to rebuild all of them today, I may have missed some.

[2016-02-26 15:16] shinnova commented on #93
Made sure that my perl packages are all up to date now, but I'm afraid that once trying again I still get the exact same output. Is there maybe anything else I could try to get it running?

[2016-02-26 15:26] ivanpu commented on #93
I'm not familiar with perl, so let's ask @HikariKnight how to run the client with **all perl errors** displayed.

[2016-02-26 15:50] shinnova commented on #93
With help from my partner I have more information when I try to run runescape, using perl -W. Now I receive the following as output:
[code]
Hopefully this can be of use.

[2016-02-26 16:05] shinnova commented on #93
After using perl -W on my partner's working install, it seems he gets the same output to start out with. So in the end it seems my last output may not have anything to do with the client not starting. Hopefully @HikariKnight can shed some light on the lack of perl errors.

[2016-02-26 17:18] oleerik commented on #93
Looks like it somehow dies right before (what I get: )
[code]

[2016-03-16 12:22] fusion809 commented on #93
I am getting the same error. I can run RSU on my old Lenovo E531 laptop running Arch Linux without issue. But on my newer HP ENVY 17 Notebook PC, I get the original error reported in this issue.

[2016-03-17 15:49] fusion809 commented on #93
Well I'll be, I installed some extra packages and now it launches fine. Not sure which one exactly led to the fix but the newly installed packages included:

* `java-environment`
* `poppler-glib`
* `webkitgtk2`

[2016-03-18 23:02] diegogs91 opened #94 "export mesa"
- export MESA_GL_VERSION_OVERRIDE=3.0
- export MESA_GLSL_VERSION_OVERRIDE=130
Pics:
http://imgur.com/a/bWmQR
to be able to do that I had to put
$ export MESA_GL_VERSION_OVERRIDE=3.0 runescape
then open runescape, but it doesn't save the option.

Also there are another GL/GLSL that correlates (3.0-130, 3.1-140 i think)

[2016-03-19 21:00] diegogs91 commented on #94
in case... @HikariKnight

[2016-03-22 00:16] HikariKnight commented on #93
@ivanpu @fusion809 @oleerik @shinnova
other than the java environment package i have not seen the need for the other packages before.
also sorry for not noticing this before now

from what i see it fails to run this script and pass all parameters from rsu-query to it
https://github.com/HikariKnight/rsu-client/blob/master/runescape/rsu/bin/rsu-query-unix

can you try running "rsu-query client.launc

[2016-03-22 00:52] fusion809 commented on #93
Something that is interesting though, even though RSU launches fine now, with the aforementioned packages installed, I am getting the same Java graphical glitch I mentioned in issue #92. I tried running `/opt/runescape/rsu/rsu-query client.launch.launcher` and it launched RSU without issue, but seeing how this issue is now resolved for me anyway, I don't think my results really matter anymore.

[2016-03-26 08:01] Laodicean commented on #93
I had the same issue and installing `webkitgtk2` solved the problem for me. It's worth noting I already had `java-environment` and `poppler-glib` installed. I haven't run into anything like #92 yet though.

[2016-04-04 19:16] SullyJHF commented on #70
Hey HikariKnight, this same thing happens to me on an ASUS C300 chromebook, running as root doesn't fix it, changing the config to https shows an error message and then doesn't open. I don't know how to change the jagexcache directory so if you could point me in the direction to do that that would be great.
Here is an error message that showed when trying to use runescape.prm:
[code]
This doesn't

[2016-04-05 07:51] HikariKnight commented on #70
OK from the clients directory

share/configs/settings.conf

There should be a line about cache directory

[2016-04-05 07:54] HikariKnight commented on #70
PS: change default into the location you want the cache (make sure the folder exists! And I would recommend it to be an empty folder)

[2016-04-05 07:59] SullyJHF commented on #70
it now says
[code]
When I change it to either portable, or something else e.g. $HOME/runescape/

[2016-04-05 10:10] SullyJHF commented on #70
Neither of these things worked, I tried a folder in /usr/share and running as sudo, it still got stuck at loaded update list, changing it to portable still didn't work, and it still says `Home directory not accessible: Permission denied` as soon as the "Loaded update list" bit shows on the loading bar, which gets me thinking that it's trying to access something after loading the update list, but c

[2016-04-05 17:03] SullyJHF commented on #70
Ok don't worry about this I've got it working fully now, even without sudo, the `CRAS add failed` was the clue. It was because there was a version mismatch of some sound driver in my chroot, meaning sound didn't work at all, causing runescape to hang for some reason on startup, when it tried to play the intro sound I guess.

Well, glad this is fixed now, I can finally play runescape on my chromebo

[2016-04-06 16:20] TheDarkDemon666 opened #95 "type `eb` is not known on line 57 in sourse"
@HikariKnight

Hello I am new to liunx and i have ubuntu on a laptop and was a bit confused when the command didnt work

Hope you can help if you need any more info just ask and i will get i for you as fast as i can

[2016-04-06 21:27] ivanpu commented on #95
Can you please be a bit more specific?
Or at least give the full console output to put the title into context?

[2016-04-06 21:44] ivanpu commented on #94
Erm... you don't use export like that.
You either move the program to new line, or omit the export keyword:
[code]
or
[code]
or
[code]

Otherwise nice suggestion :)

[2016-04-06 22:04] diegogs91 commented on #94
the question (or suggestion idk) is how can i make it permanent? I have to set it every time

[2016-04-06 22:11] TheDarkDemon666 commented on #95
![github problem](https://cloud.githubusercontent.com/assets/18311683/14334514/c4b626ce-fc4c-11e5-893b-e7a296596235.png)
@ivanpu

[2016-04-06 22:35] SullyJHF commented on #94
add the export line to your .bashrc?

[2016-04-06 22:46] ivanpu commented on #94
Ho do you want to apply it? For everything or just RS?

## Just RS
Edit the launch command in the launch icon of the client, and prepend the variable assignment to the command, but without the `export` word, like in 3rd example:
[code]

## Everything
Add both `export` lines to your `~/.profile` file, and then relogin.

That'll work only for launching the client from terminal, and only if he uses b

[2016-04-06 22:57] ivanpu commented on #95
Looks like you have mistyped the `echo "deb ...` command...
Run this:
[code]

[2016-04-07 04:16] HostOnNet commented on #95
What is the content of  /etc/apt/sources.list ?

Paste result of command

[code]

[2016-04-15 14:47] bradrevans opened #96 "Crash After Loading/Fetching Updates"
@HikariKnight

Right, I am running this on an ARM Chromebook under a Trusty CHROOT installed onto the machine.

I have the package downloaded and can get the client to launch using 'runescape client.launch.runescape'. (Just running 'runescape' resulted in a 'Wx.WebView' error).

The client open, checks for updates, fetches them, all great.

However at the point I open the client I get this error w

[2016-04-15 19:47] HikariKnight commented on #96
hi @bradrevans
chromebooks are not really supported so they are a hit and miss when it comes to it working or not.
it seems in your case you have a stack overflow which could be from a too small stacksize so maybe try change that in the prm (the option -xss2m or similar)

Keep in mind there is no guarantee it will work though.

[2016-04-15 20:48] bradrevans commented on #96
Tried setting the stack higher but same issue. A friend with an intel chromebook got it working so I guess it is worth saying that, right now, may not work with ARM chromebooks. Literally buying another laptop tomorrow as a work around for this. Thank you for the help though @HikariKnight. Quick response which was awesome. :+1:

[2016-04-17 00:11] HikariKnight commented on #96
youre welcome @bradrevans
i will close this for now then, i would recommend you to get a laptop that has a graphic card from amd or nvidia though, as intel graphics sucks with runescape

[2016-04-17 00:11] #96 closed

[2016-04-18 18:06] repkam09 commented on #96
Nothing helpful to add in fixing this, but I had the same issue on my Asus C201 ARM Chromebook trying to run the game. I was also using a Crouton chroot with Debian Jessie.

I suspect that something about their client (Jagex) does not work on an ARM system. I ran into similar problems trying to get it running on a Raspberry Pi3 which is also an ARM chipset.

[2016-05-09 08:43] severustux opened #97 "Void Repository"
Operating system : Ubuntu 16.04

Issue : The repository `http://ppa.launchpad.net/hikariknight/unix-runescape-client/ubuntu xenial Release` is empty

Description : When trying to install unix-runescape-client, after adding the repository as "`sudo apt-add-repository ppa:hikariknight/unix-runescape-client`", when tried to update, it gives:

[code]
[code]

[2016-05-09 09:02] HikariKnight commented on #97
Forgot to upload 16.04 repo
Will do it when I get home

[2016-05-10 16:29] HostOnNet opened #98 "RAM usage"
My RAM usage (VSIZE) is 5.2 GB

[code]

I have total of  6G RAM, so this cause some swap usage.

Anyway i can limit the RAM  usage by RuneScape ?

I know this is not a bug or issue related to rsu, but any help ?

[2016-05-11 07:25] ivanpu commented on #98
Yes, in RSU Go into `Settings` > `Client Settings`, and change `Maximum Java Heap Allocation` to whatever you want.

[2016-05-11 09:07] HostOnNet commented on #98
Can i set it editing any files like settings.conf ?

I don't have the WX perl installed. Not sure if i need it installed just for this..

Just done little googling and found Java Heap Memory is set with -Xmx parm. The command run to start game by rsu have it set to 512 MB (-Xmx512m)

[code]

You can see 5.6 G usage in atop

![atop](https://cloud.githubusercontent.com/assets/78068/15175820/d5f39602

[2016-05-11 09:20] ivanpu commented on #98
Try adding `-Xms512m` (or anything else, less then `-Xmx`) parameter to `runescape.prm`, to force smaller initial heap.

I'm not aware of anything else that might cause this growth, unless there is memory leak inside Java itself, or there is another java process running for something else and it's the one you see on the top of the top.

[2016-05-11 16:23] HostOnNet commented on #98
Which version of java everyone else using ?

I am using Java version

[code]

Should i use a different version ?

OpenJRE available in Ubuntu 14.04 is  "openjdk-7-jre",  should i try this ?

[2016-05-12 05:36] HostOnNet commented on #98
Change java version to latest sun java

[code]
But still take same amount of virtal memory.

[code]

This is with

[code]

[2016-05-12 08:50] ppihC commented on #97
Have you been home yet? ;) having the same problems

[2016-05-12 12:16] ivanpu commented on #98
[code]

[2016-05-12 17:26] HostOnNet commented on #98
Tested openjdk-7-jre, not a big differnce in VmSize, it use 1 GB less than Oracle Java.

With latest Sun Java

[code]

With  openjdk-7-jre (available on Ubuntu 14.04 repo)

[code]

[2016-05-12 17:26] #98 closed

[2016-05-19 01:02] HikariKnight commented on #97
Oh god I completely forgot this! Sorry but been dealing with hell IRL quite literally

[2016-05-19 01:12] HikariKnight commented on #97
OK I have copied the packages of wily into the 2 newer releases and added it to the build recipes. So the ppa should have the files available in an hour or so, or you can visit the launchpad ppa page and download the debs now

[2016-05-19 01:12] #97 closed

[2016-06-11 17:06] Oliver-Buckler opened #99 "Graphical Issue"
Update: The models start playing up when i check the Textures option in the graphical settings.

@HikariKnight
Hi there, i'm having an issue with some of the models rendering.

Tested using OpenJDK and JRE, cleared cache and reinstalled the client. Currently running on a rMBP with Fedora 4.5.6.
Sadly i think it may be based more on my hardware if nobody else is having the issue.

Max graphics opti

[2016-06-14 09:08] HostOnNet commented on #99
Which GPU you are using ? Since game client is provided by jagex, i don't think there is not much anyone can do about this. I am using Java client (switched back from NXT) and it work great for me. It may be your Graphics card or its driver.

[2016-06-14 09:15] Oliver-Buckler commented on #99
@HostOnNet
Yeah i see, i'm using integrated graphics. Just tested it with the java client too and the issue persisted, guess it is hardware related, thanks. Will mark as closed.

[2016-06-14 09:15] #99 closed

[2016-06-23 14:22] haltia opened #100 "Cant acces the game"
@HikariKnight The client launcher launches normally execpt when i press play now nothing happens.

[2016-06-26 20:01] haltia commented on #100
Im getting this when i try to start oldschool runescape.

[2016-06-26 20:02] haltia commented on #100
WARNING: List::MoreUtils module not found on the system,
using the version provided by the client instead!

Unknown named parameter -fallback=>_ at /opt/runescape/rsu/framework/modules/rsu/files/IO.pm line 203
Can't call method "val" on an undefined value at /opt/runescape/rsu/framework/modules/rsu/files/IO.pm line 206.
Compilation failed in require at (eval 37) line 2.
BEGIN failed--compilation a

[2016-06-26 20:03] haltia commented on #100
@HikariKnight

[2016-06-27 18:33] ChaosCat opened #101 "Installation broken on Ubuntu Xenial Xersus"
I am running the following commands on Ubuntu 16.04 LTS and the installations seems to be broken, it is unable to find the JRE versions it depends on
This is the result of running
`sudo apt update && sudo apt-get update && sudo apt-get install unix-runescape-client`:

[code]
I tried manual installation of the packages but without success.
also seems to be that for some reason openjdk-7-jre [or 6]

[2016-06-27 21:14] HostOnNet commented on #101
Ubuntu 16.04 have openjdk-8-jre, if you install rsu-client from github, then use this, it will work or wait for @HikariKnight to update package.

[2016-06-28 11:18] ChaosCat commented on #101
@HostOnNet, I already jave the JREs set and working as you can see:

[code]
I am afraid the problem lies within the package itself, I think @HikariKnight should update it to be able to use newer JREs as dependencies.
 I also downloaded installed the old JREs from oracle's site manually and compiled/installed them, however, the client still shows the same problem.

[2016-06-29 22:19] jamesm32 commented on #100
Not sure if this is exactly the same issue but it has similarities so could be:

I too can load the client but when pressing Play Now the game doesn't load. This is the output when loaded from the terminal:

Exception in thread "main" java.lang.NullPointerException
	at sun.font.FontManager.getDefaultPlatformFont(FontManager.java:3409)
	at sun.java2d.SunGraphicsEnvironment$2.run(SunGraphicsEnvironm

[2016-06-29 22:21] jamesm32 commented on #100
PS I'm running on Trisquel 7, very similar to Ubuntu 14.10

[2016-06-29 22:23] jamesm32 commented on #100
@HikariKnight

[2016-07-03 14:46] HikariKnight commented on #100
@haltia
Sorry I'm in the middle of moving and have no internet currently so I can't check much. But I think you might be missing (or have a corrupt or outdated)
Config::Inifile
In perl, check if you have a newer one on your system.

[2016-07-03 14:48] HikariKnight commented on #100
@jamesm32
Never heard about your distro, but what I can see from the Java errors, it is struggling to find X11 (the x window system) or you might be running a headless java implementation (CLI only java)

[2016-07-03 14:53] HikariKnight commented on #101
Can't update this until I get internet at my new place, for now just install openjdk-8 packages and the runescape package and it will work

As the error is in the "Unix runescape client" package which just installs the runescape package, a sound layer(alsa or pulse) if you don't have one and java

[2016-07-08 09:28] HikariKnight commented on #101
@ChaosCat @HostOnNet pushed update to the package as i now finally have internet again.
expect it to be available on launchpad.net in about 1 hour for manual download and maybe 1 hour 30 mins to 2 hours for install through apt-get

[2016-07-09 20:58] jamesm32 commented on #100
Hey, you're right, installing openjdk properly fixed it for me, thanks!

[2016-07-13 06:24] rslinuxminthelp commented on #101
@HikariKnight @ChaosCat I just tried using the client using the commands for Linux mint and had the exact same problems as ChaosCat. Where should I go to get the updated version/how do I install it?

[2016-07-20 07:31] DiurnalTeam commented on #101
@HikariKnight Brother , i'm diurnal  =) , can we talk about MUOnline , diurnalgaming@yahoo.com is my email me and Nocturnal was looking for your Arena PVP Map again but I think there was none posted in Ragezone, hope you could help us about this =)

[2016-07-30 05:36] marndt93 opened #102 "Can't install on Debian"
I'm trying to install the client on rasbian on my raspberry pi 3, not sure if ARM is supported but thought I'd try anyway.  Everything works fine until I input this line 'sudo apt-get update && sudo apt-get install unix-runescape-client'

I get this message:

W: Failed to fetch http://launchpad.net/hikariknight/uix-runescape-client/ubuntu/dists/trusty/main/binary-armhf/Packages  HttpError404

E: S

[2016-07-30 15:40] ChaosCat commented on #101
The launcher now installed and launches fine after a re-installation of the JDK (Included in one of the Ubuntu updates that I got recently it seems).

[2016-07-30 15:40] #101 closed

[2016-08-17 14:49] HikariKnight commented on #101
@diurnalteam sorry I no longer have the files for it, but I do believe I have the map editing tools still.
Also noc has my Skype, he could just have messaged me

[2016-08-17 22:34] Xizzid commented on #101
@HikariKnight i got the same problem as @ChaosCat is there any fixes out?

The following packages have unmet dependencies:
 unix-runescape-client : Depends: openjdk-6-jre but it is not installable or
                                  openjdk-7-jre but it is not installable

[2016-08-25 07:02] HikariKnight commented on #101
@xizzid
The package should have been updated with openjdk-8-jre long ago.

Best solution would be to install the runescape package instead and use oracle java with it.

[2016-08-29 13:55] Tick-Tech opened #103 "Client opens"
Client opens but when I click Play now it it does nothing.
I'm using Fedora 23.

[2016-09-19 23:22] cootroot opened #104 "Installing rsu-client on linux Mint-Sarah"
When i try to run the command to install the client i get this error message:

`Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
The following information may help to resolve the situation:

The following packages have

[2016-10-13 11:29] Devices commented on #104
Same problem on Ubuntu 16.04 (obviously).

[2016-10-21 05:38] HikariKnight commented on #104
pushed out a new package, please run

before you install this .deb package or try to install again to remove any potential issues.

https://code.launchpad.net/~hikariknight/+archive/ubuntu/unix-runescape-client/+build/11051735

[2016-10-21 05:38] HikariKnight commented on #103
run the command

and give us the output.

most likely youre missing java

[2016-10-21 05:39] HikariKnight commented on #102
you have misstyped the repository, you have written uix instead of unix

[2016-10-21 05:40] HikariKnight commented on #100
no reply from original poster for over a month, closing this

[2016-10-21 05:40] #100 closed

[2016-10-22 01:47] msewell17 opened #105 ""Play OldSchool" button missing from launcher"
@HikariKnight just finished installing on ubuntu-14.04, everything went perfectly, the client launcher loads up fine, but the "Play OldSchool" button isn't between "Play Now" and "Run Updater"
![missing_button](https://cloud.githubusercontent.com/assets/7648162/19616049/59aa854a-97b6-11e6-934a-9eea59ab8711.png)

[2016-10-22 10:28] HikariKnight commented on #105
see the dropdown box with runescape.prm
click on it and select oldschool.prm and then click play

the selection is saved once you click play so it will remember your choice on the next launch

![image](https://cloud.githubusercontent.com/assets/2557889/19618716/f3dd070e-9852-11e6-9cdd-9c84088f00ce.png)
![image](https://cloud.githubusercontent.com/assets/2557889/19618718/082dc298-9853-11e6-98f1-0a1

[2016-10-23 00:01] #105 closed

[2016-10-25 18:20] msewell17 commented on #105
Thanks I appreciate it

On Oct 22, 2016 2:28 AM, "HikariKnight" <notifications@github.com> wrote:

[2016-11-06 22:13] wtbtucker commented on #103
Do I need the most recent version of java? I'm having the same issue

[2016-11-06 22:33] wtbtucker commented on #103
Here is my output when I hit play now
`Reading value from "prmfile"
Setting script data prmfile to oldschool.prm
WARNING: List::MoreUtils module not found on the system,
using the version provided by the client instead!

RuneScape Unix Client script version 4.3.5

The script is running from a system path!
/home/wtbtucker/.config/runescape will be used as client folder instead!

Symlinking icon and

[2016-11-07 01:47] HikariKnight commented on #103
Hmm that's odd it doesn't auto select  the  server  jvm.

Try add
-server

To the misc settings in the  launcher (should be under the client settings tab)

[2016-11-19 16:12] bpsizemore commented on #81
Had this same issue recently. Manually made the cache folder and then realized I hadn't installed Java yet (fresh install of Fedora). However, the installer has a script that says what dependencies are necessary to install. If I recall it did not require me to install java before the installation. I'll double check however.

[2016-11-19 16:14] bpsizemore commented on #81
My mistake, I didn't read the top line that says "All of these require Java." Thanks for making this client!

[2016-12-19 19:02] annadane opened #106 "Runescape opens to a black screen"
Installed it on Debian and am getting a black screen where it doesn't load - it also freezes, and I have to kill the Java process to close the window EDIT should also mention that it starts minimized in the upper left corner, as well

[2016-12-19 23:55] ivanpu commented on #106
What java do you have installed? (Output of `$ java -version`)

What is the output, if you launch from terminal? (`$ runescape`)

[2016-12-20 00:19] annadane commented on #106
Well I managed to fix the issue with the game opening minimized and it not loading (buggering around with my sources list most recently, not sure if that was the solution) but now the issue is that the game starts with extreme flickering. Anyway, here are the outputs you requested:

``java version "1.7.0_111"
OpenJDK Runtime Environment (IcedTea 2.6.7) (7u111-2.6.7-2~deb8u1)
OpenJDK 64-Bit Server

[2016-12-20 00:23] annadane commented on #106
So I somehow got it to work in that it launches and it's no longer minimized, no longer freezes, etc, but there's heavily flickering going on. Here are my outputs:

`java version "1.7.0_111"
OpenJDK Runtime Environment (IcedTea 2.6.7) (7u111-2.6.7-2~deb8u1)
OpenJDK 64-Bit Server VM (build 24.111-b01, mixed mode)`

Launching runescape:

`                <item>
                        <title>Behind

[2016-12-20 00:28] annadane commented on #106
@HikariKnight @ivanpu

[2016-12-20 03:15] annadane commented on #106
I can make a new thread for this if people want so that it's not listed under the wrong thing now

[2016-12-26 02:32] annadane commented on #106
Hi, please delete this

[2016-12-26 08:36] ivanpu commented on #106
Don't think it's possible to delete - so closing.

[2016-12-26 08:36] #106 closed

[2016-12-31 01:31] annadane opened #107 "Runescape opens minimized in the corner, starts to a black screen and can only be closed by killing the Java process"
Am on Debian, Jessie 8.6, Stable

@HikariKnight

[2017-01-02 11:46] fusion809 opened #108 "Notification: I have created builds for RSU Client for CentOS/RHEL/Scientific Linux 6, 7; Fedora 24, 25; openSUSE 13.2, 42.1, 42.2 and Tumbleweed using Open Build Service"
Hi,

This client is the only RuneScape client I found works on Fedora, I have tried getting the RuneScape NXT Client to work but it doesn't work for me. So I have decided to do the RS-playing Linux community a service by building RPMs for RSU for the following Linux distributions in my OBS project:

* CentOS 6/7
* Fedora 24/25
* openSUSE 13.2/42.1/42.2/Tumbleweed
* Red Hat Enterprise Linux 6/7
* S

[2017-01-03 23:16] ixfd64 commented on #107
I had the same issue. Try updating to OpenJDK 1.8 and see if that helps.

[2017-01-12 02:18] HikariKnight commented on #108
Nice,  i will look at getting it added to main page if you give me the commands to add the repository and install the client

[2017-01-12 07:56] fusion809 commented on #108
It greatly depends on the distro in question, that's why I'd recommend directing them [here](https://software.opensuse.org/download.html?project=home%3Afusion809&package=unix-runescape-client) then they merely need to click on the logo of their distribution and follow the installation instructions provided.

[2017-01-12 15:50] HikariKnight commented on #108
oh great thanks

[2017-01-12 15:56] HikariKnight commented on #108
added to readme.md and credits

[2017-01-12 15:56] #108 closed

[2017-01-16 21:45] ivanpu commented on #107
Looking back... it looks similar to #92.
Unless rebooting helps (I doubt it on this stage), I can suggest to try the last thing that was suggested there (and was not yet confirmed to either work or not):
Try to (re)move the `~/runescape/rsu/3rdParty/linux/cairo-nogl` directory.

[2017-02-09 04:48] xDiego opened #109 "Client opens I press Play Now on oldschool.prm doesn't load to 100%"
I get the following message
`Loader init
Init 1
Init 2
Init 3
Init 4
Init 5
Init 6
Init 7
Init 8
Loader show
Loader set message
Config url:http://oldschool.runescape.com/jav_config.ws
Config URL is http://oldschool.runescape.com/jav_config.ws
Error: unpacker: EOF reading band
Aborted (core dumped)
`

[2017-02-10 21:04] jmfgdev commented on #109
I have alwso experienced this error, @HikariKnight said to @ him every time you put a issue however, so I did it for you!

[2017-02-10 21:28] HikariKnight commented on #109
@jmfgdev you called?

also @xDiego

please give me the full log, but from a guess i would have to say the jagexappletviewer.jar is corrupted or your java installation is incomplete

if youre using openjdk you might be missing openjdk headless packages for example, but i cant tell for sure without the full log

[2017-02-10 21:42] jmfgdev commented on #109
@HikariKnight Ah I tried to make an issue but it failed and @xDiego seems to have the same one, so that works, I found that I couldn't load after play now, I'd reach 50% or so very slowly and then timeout/crash.

[2017-02-12 11:03] jmfgdev commented on #109
I get this error on Linux Mint and Peppermint OS, but not on Zorin OS, maybe because Peppermint and Linux mint share stuff because Peppermint is a remix including Linux Mint features

[2017-02-14 10:48] HikariKnight commented on #109
@jmfgdev I dont know really, best i could suggest is try a different java, like try oracle java and just unpack it (not install it) and tell the launcher to use the "java" binary from that

[2017-02-14 10:59] jmfgdev commented on #109
Well you've done your part, on semi vanilla ubuntu based OS it works, on more Mint based OS it doesn't. But maybe that'll be fixed in the next release of Mint.

[2017-02-27 01:06] R030t1 opened #110 "Syntax error in apiquery.pm, line 46; ARM perl does not allow checking for default arguments."
Hello, this is after adding the PPA and installing via apt. No error messages were produced after installation. I am using Xenial on arm64.

[code]

EDIT: Not sure if it's better to reply to myself, or not. After some time I found what I think is the method I need to use to run the RS client (`rsu-query client.launch.launcher`). I would note it is not documented anywhere in the project, and that e

[2017-02-28 03:00] jmfgdev commented on #110
in "read this before making a new issue" @HikariKnight says to @ him so he'll get notified via email.
so basically, bump

[2017-02-28 03:02] jmfgdev commented on #110
https://github.com/HikariKnight/rsu-client/issues/7

[2017-02-28 03:06] jmfgdev commented on #109
@HikariKnight update to this error, still getting it on a very typical Linux setup.
I'm on Debian, stable Jessie 8.7, default openjdk JRE. It happens randomly for me. 95% of the time i start the client it crashes before loading to 100% or even getting to 1% more recently.

[2017-02-28 06:11] HikariKnight commented on #110
@R030t1 i do not have an arm device to test this on anymore, but i know from earlier testing that arm devices have been a hit and miss, it works on some and not on others and there is no reason for why those lines get an uninitialized value because they are clearly created using

"my $apicall"

while i did have an arm device i tried to find out what caused this but i could not figure it out :|

[2017-02-28 17:49] R030t1 commented on #110
My apologies for not reading the README issue and not mentioning you. In any case, having reimaged my ODROID-C2 I can confirm that cloning your repository and passing parameters explicitly to `rsu-query` will launch RuneScape. Time permitting I will see if I can troubleshoot it, but my interest in the matter is waning as Hardkernel support for my device's Mali driver is lacking (only software rend

[2017-02-28 18:14] jmfgdev commented on #110
@R030t1 @HikariKnight  I have 3  raspberry pi's, all different, the pi 1 2 and 3, I can test the software on each and give details if needed. In my experience the raspberry pi 3 on Ubuntu Mate wouldn't launch RSU. I have yet to try Raspbian. I imagine the raspberry pi 3 would still have some trouble chugging thru OSRS at anything higher than 1024x768 . I know little of the odroid-c2, but might che

[2017-02-28 19:40] R030t1 commented on #110
@jmfgdev Unfortunately, RS on an embedded ARM device is probably not possible until the processors advance more (to be on par with low-end Intel devices of a few years ago) so that OpenGL can be done in software, or Jagex decides to implement an OpenGL ES renderer. Getting the script to work to the same level it does on x86(_64) is probably good work for the future.

It's kind of unfortunate becau

[2017-02-28 19:55] jmfgdev commented on #110
@R030t1 It's possible, https://i.imgur.com/uVhBHT6.jpg. However a lot of tinkering is required, and Proprietary Oracle Sun Java seems to be the only one to run well. I'm confused, you said you managed to get the script to launch in your last comment. I've seen it working alright. Is it impossible or not?

[2017-02-28 20:36] HikariKnight commented on #110
@R030t1 @jmfgdev yes from what i remember jagex implementation of openGL is not supported on arm and most likely will not be without hacking it together yourself (which would be walking in the grey area of the 3rd party tools ruleset they have if i were to guess so)

hence why arm is not officially supported, plus the fact the scripts seems to work flawlessly on once device and fail on checking fo

[2017-03-02 17:31] jmfgdev commented on #110
@HikariKnight I took the picture we were talking about from imgur and put the link into Anonimag.es and hopefully you can see this one? https://anonimag.es/i/uVhBHT69fa1f.jpg
I also downloaded the original file from imgur and drag and dropped it here. If you can't see the picture you might be on AOL browser. =P
![uvhbht6](https://cloud.githubusercontent.com/assets/25621994/23519165/f698054a-ff43-1

[2017-03-02 18:13] HikariKnight commented on #110
@jmfgdev nice!
figured it had to be oldschool :)

also i see you got my old keyboard, with the same amount of dust too XD

[2017-03-06 19:38] jpptinsley commented on #101
I've got this one as well, on 16.04;
The following packages have unmet dependencies.
 unix-runescape-client : Depends: openjdk-6-jre but it is not installable or
                                  openjdk-7-jre but it is not installable

I can't install the official runescape package due to a bug there;
http://forum.runescape.com/forums.ws?415,416,69,65779981,goto,3

[2017-03-06 20:44] HikariKnight commented on #101
@jpptinsley

[2017-03-07 21:20] smithillusions opened #111 "Incomplete loading and error"
Hello all, @HikariKnight

Brand new linux user, so I apologize in advance for my inexperience.  I am trying to run the client on an ARM based chromebook with trusty ubuntu.  I am aware that my problem might stem from the ARM processor, but I figured I'd reach out for advice.  I installed the client as directed and ran the updater to acquire the jagexappletviewer.jar file.  When I try to run the cl

[2017-03-07 21:22] HikariKnight commented on #111
@smithillusions seems to be a java based issue or a jagex based issue as my script finished its thing and gave control to the appletviewer without issues

[2017-03-07 22:11] smithillusions commented on #111
Hmm alright.  Thank you @HikariKnight for the prompt response.  I don't know if this is of any use but the command 'runescape' doesn't launch the client but instead outputs:

(trusty)dan@localhost:~$ runescape
WARNING: Running in fallback mode!
rsu-queries will use the system perl so some API calls
may not work until you install certain modules
WARNING: Wx::WebView module not found, API calls usin

[2017-03-07 22:34] HikariKnight commented on #111
thats an ARM issue believe it or not :p
its kinda weird

[2017-03-08 10:28] jmfgdev opened #112 "Elementary OS, OPENJDK-9 and RSU incompatability. OPENJDK-8 is fine."
Hey @HikariKnight I'm coming to you because I have never been so confused with Java or Linux. Ok so I installed RSU on Elementary OS with the debian method since apt-add-repository doesn't exist. I can't install the package unix-runescape-client since openjdk-7 doesn't exist, so I install runescape since it doesn't require openjdk-7 as a dependency. Once I get it installed I notice the fonts and p

[2017-03-08 10:31] jmfgdev commented on #112
Now when I try to lauch the actual game I get this in the console
"sh: 1: /usr/lib/jvm/java-9-openjdk-amd64/bin/java: not found"

[2017-03-08 21:40] jmfgdev commented on #112
@HikariKnight I fixed this by using Synaptic to fully uninstall all my openjdk packages and reinstalled them, but the client still doesn't work with openjdk 9

[2017-03-10 07:01] HikariKnight commented on #112
@jmfgdev thats odd as people have run it on openjdk-9 before

[2017-03-10 08:35] jmfgdev commented on #112
It's likely just an issue on Elementary OS, like i said, the package unix-runescape-client will not install since openjdk-7 is not avail in the repos. removing openjdk-7 and openjdk-7 from the dependencies would let me install it but for now I can only install runescape and not the dummy URC package.

[2017-03-11 16:55] SeaifanAladdin opened #113 "Banned while trying to log in with this software"
Hello,
I have used your software to play runescape for a few years now. I don't play much, and I have a habit of leaving for a few months and coming back for a few weeks.

After a few months of hiatus, I decided to log in with this software again. To my surprise, I logged in with a 48 hour ban. This is the message that Jagex sent to me.

Jagex

I've never botted before, and it's been a few months

[2017-03-13 04:38] tmondrag commented on #113
If you found this out after the first time you logged in after a few month hiatus, it is entirely possible that it wasn't because you were using software that tripped Jagex's macro detection algorithms, but that someone else was botting on your account while you weren't using it.

Jagex is very familiar with this client and have given it an officialish blessing, so they likely have done work to pr

[2017-03-14 01:17] SeaifanAladdin commented on #113
I am ashamed to confirm that you are right, someone else has been botting on my account. I believe the hack came from the  Cloudflare leak a few weeks ago. As I'm not an active runescape player, changing my password for this game never crossed my mind.

I apologize for suspecting this software. Thank you for your help.

[2017-03-14 01:17] #113 closed

[2017-03-14 07:23] HikariKnight commented on #113
Jagex as far as i know has an exclusion for this client however it will still detect if you were doing something you weren't supposed to do like an injection or using a 3rd party tool to macro

Because in the end it's their client that is launched, the rsu client just tried to prepare everything for it to launch the best possible way

[2017-03-16 23:45] #112 closed

[2017-04-13 07:51] ivanpu commented on #48
Ok, one year later, and with helpful update to the NXT client (2.2.4 + 12/04 patch):
The "launcher launcher" is probably still unnecessary, but "client launcher" is now a possibility.

Actually have already seen at RS forums today a work toward alternative one:
https://github.com/yoloium/rs3-launcher/tree/v224

And just for not to be biased - other launchers: https://github.com/search?q=runescape+

[2017-04-20 06:12] #102 closed

[2017-05-18 18:03] gnollhide opened #115 "Locked to Runescape 3"
I recently installed the rsu client on Ubuntu 17.04 and instead of offering a launcher with option to choose oldschool and other such alternatives, it automatically launches the newest version of runescape after asking what language to play in.

@HikariKnight

[2017-05-18 20:10] HikariKnight commented on #115
@gnollhide youre probably missing the wx packages you were told to install for your system but its very easy to use the command line to tell which prmfile to use

just run the command

```runescape --prmfile=oldschool.pm```

[2017-05-18 20:12] gnollhide commented on #115
I'm afraid that command didn't work, are the wx packages gettable with apt?

[2017-05-18 20:19] HikariKnight commented on #115
```sudo apt-get install libwx-perl libconfig-inifiles-perl libmodule-extract-perl libio-stringy-perl```

[2017-05-18 20:21] HikariKnight commented on #115
@gnollhide
```sudo apt-get install libwx-perl libconfig-inifiles-perl libmodule-extract-perl libio-stringy-perl perl-modules p7zip-full```

i gave you all the other dependencies you might be missing too as i assume you used the downloadable installer instead of the PPA repository since youre missing dependencies

[2017-05-18 20:21] gnollhide commented on #115
actually I used the PPA, but it didn't mark the wx packages as required strangely enough

[2017-05-18 20:22] HikariKnight commented on #115
odd

[2017-05-18 20:23] gnollhide commented on #115
i'm afraid it didn't work, it's still showing default runescape 3 login. also, having tried the official jagex one, it looks a lot like the NXT launcher instead of the launcher i expected

[2017-05-18 20:26] HikariKnight commented on #115
image?
of both the shortcut and the game window
because the "runescape" command doesnt work for you and the launcher doesnt appear i am thinking there might be some confusion here

but just for fun try running the command "runescape" without quotes

[2017-05-18 20:27] gnollhide commented on #115
yeah the runescape command launches the NXT looking version, let me get a proper screenshot

[2017-05-18 20:28] gnollhide commented on #115
wait, that's odd. installing the wx apps got me the proper login, but the default runescape command launches the NXT version. how strange. thank you for helping me fix it, though!

[2017-05-18 20:29] gnollhide commented on #115
it appears the terminal command will launch the version i've been stuck with, but installing wx will give me proper desktop shortcuts to the rsu launcher

[2017-05-18 20:29] HikariKnight commented on #115
well the thing is during NXTs development they specifically did not make the launch commant "runescape" to not interfere with this client. and my client launches the default prmfile when it does not detect wxperl

also forgot to say it but give me the output of the runescape command

[2017-05-18 20:31] gnollhide commented on #115
sure, just a moment

[2017-05-18 20:34] gnollhide commented on #115
here's terminal output of the runescape command on lubuntu 17.04 (at least for me)
`user@lubuntubox:~$ runescape

(zenity:25680): Gtk-WARNING **: Theme parsing error: gtk-widgets.css:23:18: not a number

(zenity:25680): Gtk-WARNING **: Theme parsing error: gtk-widgets.css:23:18: Expected a string.

(zenity:25680): Gtk-WARNING **: Theme parsing error: gtk-widgets.css:815:10: not a number

(zenity:2

[2017-05-18 20:34] gnollhide commented on #115
that's the output of launching the command, loading to login screen, and then quitting application

[2017-05-18 20:36] HikariKnight commented on #115
that is weird, it should give so much more info...

[2017-05-18 20:43] HikariKnight commented on #115
this is what it should look like

[code]

[2017-05-18 20:44] gnollhide commented on #115
i'm going to try to get you a proper debug log through gdb so give me just a few minutes

[2017-05-18 20:46] HikariKnight commented on #115
gbd is of little use since its a perl script

just give me the output of "ls /opt/runescape"
and confirm that it is

[code]

[2017-05-18 20:51] gnollhide commented on #115
No such file or directory. Looking at /usr/games/runescape, the location of the command, it's a shell script that says as follows

#
#	Copyright (C) 2016 Carlos Donizete Froes <coringao@riseup.net>
#	Use of this script is governed by a BSD 2-clause license
#	that can be found in the LICENSE file.
#	Source code and contact info at https://github.com/coringao/runescape
#
# Game:     Runescape
# Date

[2017-05-18 20:52] gnollhide commented on #115
sorry about the formatting, i'm still new to github

[2017-05-18 20:53] HikariKnight commented on #115
yeah that is not my client you have installed
you installed the client script made by https://github.com/coringao/

[2017-05-18 20:54] gnollhide commented on #115
how strange, it might be a holdover from my playdeb repository, but the RSU client apt installation automatically installed it

[2017-05-18 20:56] HikariKnight commented on #115
might be that persons deb file shares name with mine so you will have to disable their repository and do an sudo apt-get update then install mine

[2017-05-18 20:57] gnollhide commented on #115
ah that makes so much sense. thank you for your help, i should be good now. i'll go ahead and close this

[2017-05-18 21:02] HikariKnight commented on #115
i did notice a missing package from my launchpad though so if it wont let you download the runescape package then install it manually from a different series

https://launchpad.net/~hikariknight/+archive/ubuntu/unix-runescape-client/+files/runescape_201701121833~git-master~ubuntu16.04.1_all.deb

[2017-05-18 21:05] gnollhide commented on #115
i found the problem, apparently runescape is maintained in debian/ubuntu games by default, and the runescape command links to that application

[2017-05-18 21:08] gnollhide commented on #115
yep, the unix-runescape-client for some reason marks ubuntu runescape package as dependency, as shown
![2017-05-18-170723_2720x768_scrot](https://cloud.githubusercontent.com/assets/20284504/26223557/a6b66874-3bec-11e7-851d-3aefddc129ec.png)

[2017-05-18 21:09] gnollhide commented on #115
and the ubuntu package itself, added in 16.10
[http://packages.ubuntu.com/search?suite=default&section=all&arch=any&keywords=runescape&searchon=names](url)

[2017-05-18 21:10] HikariKnight commented on #115
well the runescape package was originally registerd by my me so i find it odd they added a client that wasnt endorsed

[2017-05-18 21:12] gnollhide commented on #115
might be a package maintenance mixup, might wanna get in touch with them about that

[2017-05-18 21:20] HikariKnight commented on #115
seems more like someone wanted to add their own package but didnt do research to see that a package already existed elsewere

[2017-05-18 21:21] gnollhide commented on #115
alright, best of luck to get this fixed! just as an update, the launcher works perfectly fine now that i have the proper packages installed

[2017-05-18 21:42] #93 closed

[2017-05-18 21:42] HikariKnight commented on #103
no reply in ages, closed

[2017-05-18 21:42] #103 closed

[2017-05-18 21:43] #88 closed

[2017-05-18 21:43] #104 closed

[2017-05-18 21:44] #95 closed

[2017-05-18 21:52] HikariKnight commented on #115
I have contacted the developer, i will keep this issue open as it is technically not resolved.
I do hope he will consider helping to come up with a solution, i proposed a package name change to him as my repository have used the package name since 2012/2013 and is already a well established client in the community, but i am also willing to work with him to come up with a solution.

[2017-05-19 16:52] Jonathan1223 opened #116 "Command not found"
When I type on terminal "sudo add-apt-repository ppa:hikariknight/unix-runescape-client" says command not found. There is anyway to get it install runescape client on linux?

[2017-05-19 17:14] ivanpu commented on #116
That should be `apt-get-repository` ;)

[2017-05-19 17:40] Jonathan1223 commented on #116
I did that way and say the same thing

[2017-05-19 17:53] ivanpu commented on #116
What distro are you using?
Is it Debian-based?

[2017-05-19 18:10] Jonathan1223 commented on #116
Mm I really dont understand, I did install linux with xfce and trusty

[2017-05-19 18:49] ivanpu commented on #116
Trusty... that [should be](https://wiki.ubuntu.com/Releases) "Ubuntu 14.04".
The command should be present, but might not be installed.
Run `sudo apt-get install software-properties-common` to get that command, then you can continue installing this client.

[2017-05-19 19:05] Jonathan1223 commented on #116
It works! Thank you very much!

[2017-05-19 19:08] ivanpu commented on #116
You welcome :)

[2017-05-19 19:08] #116 closed

[2017-05-20 12:39] HikariKnight commented on #115
talked to the guy, super nice person and he told me about what changes i need to do and then he would replace the package with this one.
he was not aware of this long running project. not sure if he took a look at it but if he did i hope he liked what he saw.

[2017-06-09 09:41] crabcrabcam opened #118 "Sticks on "New game client" after logging in and I can't click the buttons"
Ubuntu Mint 18.1 installed from PPA

I installed, logged in and all seemed fine (account was locked and I managed to reset it)
I also used the wrong email (very old account wasn't sure what email I used) and it made a new account and put me in game.
Now when I log in with my real account it asks me to download the new game client but I can't click "Download" or "Remind me later". If I right click

[2017-06-09 19:34] ivanpu commented on #118
1. This is Jagex's way to switch everybody from Java to NXT. And honestly I think you should, unless your computer can't run it.
2. The Linux link for it just opens installation instructions below it - this is not a download link.

_Sent from my LGE LG-H815 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-09 20:30] crabcrabcam commented on #118
@ivanpu I got a 404 on the Linux page but it's probably because of Javascript as you mention. Is there any way to get NXT for Linux, is it through here or no?

[2017-06-09 20:47] ivanpu commented on #118
Here's the instructions, [verbatim](https://www.runescape.com/download):

To install the launcher for Ubuntu (and other similar Debian-based distributions), you can paste the following into a console, and enter your password when prompted. This will add the RuneScape apt repository to your computer so that you will be informed of updates to the launcher when they happen.

Should work on Mint, as i

[2017-06-21 12:29] nirnble opened #119 "chromebook c720"
im a total noob to this all i want to do is run osrs on my chromebook c720 in a linux that works please help me

[2017-06-21 20:02] nirnble commented on #119
@HikariKnight

[2017-06-22 00:41] HikariKnight commented on #119
@nirnble hi
there is no official support for the chromebooks due to some oddities with how the scripts run on some chromebooks so i cant really help either as i do not own a chromebook either.

[2017-06-24 14:07] ibrokemypie opened #120 "Macos Can't install Addons"
@HikariKnight whenver you try to install an addon on macos sierra it seems to download, then pops up saying Copying Failed! Copying failed due to missing source location!
Please try again
This happens with every addon every time

[2017-06-26 17:11] HikariKnight commented on #120
@ibrokemypie my macbook do not support macos sierra so i cant work on fixing that sadly as i do not have money to buy a new macbook just for that purpose.

I have aslo been considering to disable the addon functionality as they are a lot to solo maintain with my limited time. so sadly i cannot help with that :(

[2017-07-02 21:54] HikariKnight commented on #115
Ok since my vacation finally started I should be able to get around and finally work on this

[2017-07-04 10:28] ChaosCat commented on #119
@nirnble I have a lot of Chromebooks in the educational institute I'm currently enrolled at and as one of the technical lead team there, I experiment with them to see how extensive is the access to the system by regular users. The question at hand is, what do you mean by installing the client and it's packages on the system?
Do you mean you want to run OSRS natively on ChromeOS? If that's the case

[2017-07-06 05:00] ibrokemypie commented on #48
+1 for switching to QT

[2017-07-06 05:39] ibrokemypie opened #121 "Void Linux Package"
I have been trying to put together a package for void linux, however I am finding the directory structure truly confusing. Any chance you could lend a hand?
https://github.com/voidlinux/void-packages/pull/6725

[2017-07-10 09:12] aimeec1995 opened #122 "FreeBSD?"
I read this has official support for FreeBSD. But, I see no package for it and I cannot seem to get it working under linux emulation due to perl.
Help please?

[2017-07-11 17:28] HikariKnight commented on #122
Well yes and no, the script has support for freebsd but dependencies like Java and jagex own libraries may or may not support freebsd

Let me find all the Perl dependencies for you. I can't remember if Java has to be run through Linux emulation or not but I'm not familiar with freebsd myself but I know people have made it run on freebsd and Solaris using my client scripts (idk if opengl worked or

[2017-07-11 17:33] HikariKnight commented on #122
Full list of dependencies

Dependencies:
default-jre
default-jre-headless
perl
perl-modules
p7zip-full
wget|curl
grep
libwx-perl
libconfig-inifiles-perl
libmodule-extract-perl
libio-stringy-perl
libfile-copy-recursive-perl
libhttp-tiny-perl
libjson-perl
libjson-pp-perl
liblist-moreutils-perl
liburi-encode-perl
libxml-rsslite-perl

Optional (for forcing sound on alsa or pulse)
alsa-oss
pulseaudio-u

[2017-07-11 17:37] HikariKnight commented on #121
Will have a look once I'm at the PC, but I know the aur repository by @ivan_p is a good example of how it is.

Places the client in /opt so it rubs from /opt/runescape
And then copies some scripts and .desktop files from the templates folder and done pretty much

I recently made a makefile for that to help bring the client to Debian

[2017-07-11 17:38] HikariKnight commented on #121
https://github.com/HikariKnight/runescape/blob/master/Makefile

[2017-07-11 17:40] HikariKnight commented on #121
@ibrokemypie

[2017-07-11 20:26] HikariKnight commented on #121
ok im back home and had a read through the link you sent me

the client is made to run from anywhere to be honest
if you need to install it anywhere else then you need to edit the template scripts in
https://github.com/HikariKnight/rsu-client/tree/master/runescape/templates/packaging/usr/games
to suit your system (just add another elsif with the right path to the client in the 3 scripts)

these 3

[2017-07-12 17:31] aimeec1995 commented on #122
Thanks

[2017-07-12 17:32] HikariKnight commented on #122
youre welcome :)

[2017-07-19 12:24] GHXST01 opened #123 "Oldschool Shortcut"
Hey I'm making a live usb drive with Lubuntu for a friend of mine.
He plays oldschool only and I wish to have either an oldschool shortcut on the desktop, or auto launch oldschool when launching the rsu client.

The first time I tested the install, it gave me different shortcuts, but this time it only gave me the launcher shortcut.

Any idea what to do?

@HikariKnight

[2017-07-19 21:09] HikariKnight commented on #123
the other shortcuts exist but they are disabled since you have wxPerl available
you should be able to find them in /opt/runescape/templates/packaging/usr/share/applications

all you have to do is copy the oldschool file from that (not move) and just add it to desktop

if you want automatic startup then you need to run

/opt/runescape/runescape --prmfile=oldschool.prm &

on startup

[2017-07-19 22:33] GHXST01 commented on #123
Thanks!

Keep up the good work.

[2017-07-19 22:33] #123 closed

[2017-07-19 22:34] HikariKnight commented on #123
youre welcome :+1:

[2017-07-22 01:40] #122 closed

[2017-07-23 03:38] abacefbeca opened #124 "Windows launcher issue with default Java"
I have to select custom-java and browse to the location of the java.exe in Settings, Script Settings tab, Preferred Java To Use. RuneScape won't start when I click Play Now if default-java is selected.

[2017-07-26 19:15] aimeec1995 opened #125 "which source to use for bsd/solaris?"
which version of this client am i downloading to run this on bsd or opensolaris? i only see it for linux?

[2017-07-27 05:29] abacefbeca opened #126 "PC-BSD: Use of uninitialized value $apicall in ..."
I'm using PC-BSD 10.3 64-bit. I downloaded and ran the [32-bit Linux installer](https://github.com/HikariKnight/rsu-client/releases/download/v4.3.4/RSU-linux-installer.run.zip). The 64-bit installer didn't do anything. The 32-bit installer identified the operating system as CentOS. That was expected. At first the install-desktop-icons script didn't work. I fixed that by using the commands:
`sudo l

[2017-07-27 07:28] abacefbeca commented on #126
@HikariKnight

[2017-07-27 07:41] abacefbeca commented on #126
I also tried installing `p5-File-Temp p5-constant p5-File-Copy-Recursive p5-Encode p5-Carp p5-FindBin-libs p5-Exporter p5-HTTP-Tiny p5-IO-Handle-Util p5-File-Path p5-Encode p5-JSON-PP` but that didn't fix the errors.

[2017-07-27 18:48] aimeec1995 commented on #126
I think it's time to take down the claims that this is supported on bsd/solaris.

[2017-07-30 01:44] HikariKnight commented on #126
yes i agree with @aimeec1995 as something have happened since i last tested it under bsd where it ran fine, and as i do not have time to test and see what have changed i will have to remove the statement for support for it and set bsd/solaris and non x86 and x86_64 architectures as untested.

[2017-07-31 03:20] abacefbeca commented on #126
I don't know Perl but have some experience with programming, can use Google, and the script comments help.

On line 41 in apiquery.pm $ARGV[0] doesn't contain what it needs to have. If I type `runescape` in Terminal I get the errors I mentioned in my first post. If I type `runescape %U` as shown by the properties of the desktop icon then the errors in my first post don't happen but I get the follo

[2017-07-31 22:51] HikariKnight commented on #125
The source code although there is no support and limited to no testing on it as all I do in the code is make room for bsd/Solaris versions of commands if I know them

[2017-07-31 22:53] HikariKnight commented on #124
It's a common bug as Oracle do not always update their registry values for Java and sometimes the script can't find the values it needs to guess where Java is (incase a custom path has been chosen for the Java install)

[2017-08-01 02:40] abacefbeca commented on #124
I didn't chose a custom path when I installed it and this works
[code]
so Windows has no trouble finding it. Though, I noticed C:\ProgramData\Oracle\Java\javapath is in the PATH variable instead of C:\Program Files (x86)\Java\jre1.8.0_141\bin and the javapath directory only contains java.exe javaw.exe and javaws.exe.

[2017-08-01 04:04] HikariKnight commented on #124
yes but its not for the executable, it is to locate the libraries that the client needs as just launching through the "java" command in general doesnt work because for some reason windows is unable to locate the awt library hence the need to locate where the exe is and grab the dll and force it to load.

[2017-08-06 08:37] aimeec1995 commented on #126
hey abacefbeca  how can i contact you?

[2017-08-06 22:30] abacefbeca commented on #124
People will install the launcher in Windows, try starting the game, and think it doesn't work. I suggest making a script that will find the needed Java libraries. Or, at least pop-up a message telling the user they need to find the libraries for the launcher to work. Or, if it does that already then ignore this, I guess. Been a long time since I installed the RSU Launcher for Windows. I thought ma

[2017-08-07 16:42] abacefbeca commented on #126
@aimeec1995
Looks like neither of us wants to share our email address in the public profile of our Github account and Github removed the ability to send private messages so I tried contacting you on the FreeBSD forum.

[2017-08-09 10:35] HikariKnight commented on #124
@abacefbeca will go with the message about asking where java is and will do that as soon as i have some freetime to do so :)

[2017-09-06 18:25] navennn opened #127 "Removing language and copyrights to have more room for the actual gameplay"
Is there a way to remove the language bar and copyright at the bottom of the screen? I was playing a different client for some time and it was much more convenient to play the game and to actually see a bit more of the game.
![rsu-client](https://user-images.githubusercontent.com/26810830/30128033-7d3c9e44-9341-11e7-970c-82e7a7f43084.png)

[2017-09-08 17:32] soaringowl2145 opened #128 "Problems installing on Debian 9 Stretch"
Currently it depends on:

opendjk-6-jre
opendjk-7-jre

Debian says they are not installable and Stretch only has openjdk-8-jre in its repos.  Is there any way to update the app so that it can run off of openjdk-8-jre?

Thanks.

[2017-09-08 17:33] soaringowl2145 commented on #128
@HikariKnight

[2017-09-08 17:36] soaringowl2145 commented on #127
@HikariKnight

[2017-09-08 18:51] ivanpu commented on #128
AFAIK, it works well with 8, but not sure right now how to force it on Debian...

[2017-09-08 19:02] ivanpu commented on #127
I don't know whether Jagex implemented this in OSRS, but in RS3 it's removed as long as you don't use Java 8.

Also see #50 and #57.

[2017-09-08 20:18] HikariKnight commented on #128
updated the debian install as i didnt know they had deprecated jre6 and 7

<pre>echo "deb http://ppa.launchpad.net/hikariknight/unix-runescape-client/ubuntu zesty main" | sudo tee -a /etc/apt/sources.list
sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 9BA73CFA
sudo apt-get update && sudo apt-get install unix-runescape-client</pre>

[2017-09-08 20:19] HikariKnight commented on #128
just remember to remove your old entry for my ppa from your /etc/sources.list @soaringowl2145

that old entry should be

deb http://ppa.launchpad.net/hikariknight/unix-runescape-client/ubuntu zesty main

[2017-09-08 20:30] HikariKnight commented on #127
well some more information about it, it is not possible for us to do without breaking the TOS, if we did remove it then this would no longer be an unofficial official client.

Mod Philip did remove the bars but it broke with newer java versions and he no longer works at jagex so i cannot poke him directly about it sadly.

[2017-09-08 20:32] HikariKnight commented on #115
@gnollhide i have updated the PPAs with new versioning numbers to replace the main package, however still working with the other guy but everything is slowed down because of irl stuff for me sadly.

[2017-09-09 03:49] soaringowl2145 commented on #128
@HikariKnight Thank you.  That fixed the issue, although the old repo was trusty not zesty.

Also you may want to specify that zesty is for Debian 9 and leave the old repo for Debian 8 for those that still use it.

[2017-09-09 12:41] HikariKnight commented on #128
@soaringowl2145 nah the only difference between the 2 repos are that the unix-runescape-client package has jre 6-9 as dependency and if neither exists then it will go for default-jre :) and sadly launchpad pevents me from updating the trusty repo soon so the bump was needed :(

[2017-09-09 14:23] soaringowl2145 commented on #128
@HikariKnight Thanks.  So I think it is safe to close the issue now as it is working now.

[2017-09-09 14:32] soaringowl2145 opened #129 "[Question] When should I use the Client Updater?"
@HikariKnight

I am wondering when I should use the updater and what it is used for.

Also it says I must be able to download the official client.  Does this mean I must have the official Runescape client repo setup?

Finally when the official Runescape client is updated will the RSU client be updated as well?

[2017-09-09 14:33] #128 closed

[2017-09-09 14:37] HikariKnight commented on #129
no no the updater refers to the legacy client, you will only need to run it when jagex updates their jagexappletviewer.jar

it just has an option to download the windows or mac client and extract the jar from that or download the jar directly (as it has happened once in the past they have forgotten to update one of the downloads :P)

you will know when to update as you will usually get a black dia

[2017-09-09 14:56] soaringowl2145 commented on #129
Thanks for the quick response.

When the official Runescape Legacy client is updated will the RSU client be updated as well?

[2017-09-09 14:56] soaringowl2145 commented on #129
@HikariKnight

[2017-09-09 18:46] ivanpu commented on #129
No, you only will need to update the .jar file (with the Updater). It's unrelated to this client updates.

[2017-09-10 00:14] ghost opened #130 "Screen flickering on Intel graphics"
@HikariKnight

I am using a MacBook Pro with Ubuntu in a virtualbox and I am getting black screen flickering on Runescape 3.  Have you implemented the patch for this or if you haven't can you please implement it?

[2017-09-10 00:15] soaringowl2145 commented on #129
Thanks.

[2017-09-10 00:15] #129 closed

[2017-09-12 06:12] HikariKnight commented on #130
@soaringowl2145 Nope as its not caused by my client as this client only launches the legacy client, after that its all hands off, very unlikely that will be fixed.
Also the game was never meant to be run through a virtual machine. which might explain the issues you get from it

[2017-09-16 12:18] navennn commented on #127
That's interesting.
I'm not really so much into this, but what's the difference between this client and osbuddy? Osbuddy fills up all the screen. As I understand it - it should be using the same version of the client, or am I wrong?

[2017-09-16 12:26] HikariKnight commented on #127
they do not use the official applet viewer, they use one they have made themself and are then considered 3rd party, the only reason this client got featured on the actual runescape homepage before NXT was because it was essentially just an advanced opensource start script for the official appletviewer made by jagex, making the scripts 3rd party launching a 1st party program which is the actual cli

[2017-09-16 17:58] navennn commented on #127
Thanks for the explanation. I guess there is nothing else to be done than bothering jagex then.

[2017-09-16 17:58] #127 closed

[2017-10-24 20:37] dere commented on #115
I also experience this issue -- installed from PPA but there is no way to switch to Old School.

[2017-11-14 20:20] annadane opened #131 "How does one execute the client in the tar?"
Apologies in advance if simple technical questions don't belong in "issues" but I don't know where else to put it.

I downloaded the tar, and I tried "perl" /path/to/file and I get the following:

Can't locate Archive/Extract.pm in @INC (you may need to install the Archive::Extract module) (@INC contains: /etc/perl /usr/local/lib/x86_64-linux-gnu/perl/5.26.1 /usr/local/share/perl/5.26.1 /usr/lib/x

[2017-11-14 22:09] annadane commented on #131
Fixed it. I had to install the libarchive-extract-perl package.

[2017-11-24 20:53] catman1900 opened #132 "Flatpak for client"
would be super cool if you guys could make a flatpak (https://flatpak.org/) or a snap (https://snapcraft.io/) for the client. It'd make it possible to support every single linux version since it's all self contained.

[2017-11-26 05:26] RyoshiKayo opened #133 "Ubuntu Artful RS3 Login Screen blank"
Platform: Ubuntu Artful (17.10)
-Added with the PPA Package.

Installation works fine, the launcher works fine, and old school works fine, but when you launch the RS3 Client, it will load the background and the music but it will not present the login screen

![broken_rs3](https://user-images.githubusercontent.com/24500457/33237384-419874c4-d227-11e7-89eb-39dac5409852.png)

[2017-11-26 05:29] RyoshiKayo commented on #133
I ran the launcher via the terminal to see if there were any specific errors and found the following:

[code]

[2017-11-30 07:50] HikariKnight commented on #132
will have a look into that around my christmas holiday hopefully :) thanks

[2017-11-30 07:56] HikariKnight commented on #133
@RyoshiKayo from what i can tell of the output it seems like for some reason the client (jar) crashes with an Array Index Out Of Bounds exception so there is not really anything i can do with this myself as i have never seen the client crash with that exception before.

best bet would be send in a support ticket to jagex and include that last line (as the lines above are just complaining about the

[2017-11-30 07:57] HikariKnight commented on #131
glad to hear you solved it, for some reason github has stopped sending me notifications about new issue tickets.

[2017-11-30 07:57] #131 closed

[2017-11-30 22:00] RyoshiKayo commented on #133
@HikariKnight No problem, I'll make a ticket with them and update this thread on what I find out :)

[2017-12-03 23:38] RyoshiKayo commented on #133
@HikariKnight Does RSU use the actually Linux client that Jagex provides or is this downloading the generic java file?

[2017-12-04 04:49] ivanpu commented on #133
This is a launcher to the Java client, the one that is called now "Legacy" in the downloads page.
This is not the NXT, if that's what you meant.

[2017-12-08 12:52] RyoshiKayo commented on #133
I've been back and forth with three different JMods and they have all said that they cannot support this issue.

@HikariKnight Might just want to mark this ticket as wontfix

[2017-12-09 17:16] HikariKnight commented on #133
@RyoshiKayo done, sorry i couldnt really be of help.

[2017-12-09 17:16] #133 closed

[2017-12-10 12:15] spellwork opened #134 "Resizable mode not working in funorb games"
@HikariKnight Using linux mint, I have tried using resizable in both AoG and Arcanists, and in neither it worked. While it would grey out resizable as if I had chosen it, the screen would remain fixed. I have previously been able to use resizable on windows using the .prm files with the osrs client. If theres anything that could be done on your end or if you have a soloution I could implement I wo

[2017-12-10 15:30] HikariKnight commented on #134
not as far as i know. as the prm file is literally a text file containing java parameters.
and once the appletviewer has launched i have no control over what happens as all my client does is feed it the proper information to launch and make sure that java is configured properly (in terms of opengl support)

[2017-12-10 19:33] spellwork commented on #134
its a bit bizzare, i didn't think there would be much you could do but decided i'd mention it. thanks for your response, i've got the games to work fine in the browser so i'll be doing that instead.

[2017-12-11 19:41] #134 closed

[2017-12-19 22:50] jmfgdev commented on #132
The snap thing is cool but not so easy to put in a nice user friendly market, I think you should use flatpak and get your package in flathub, there you will have a nice larger user base, and you will have the benefit of users being able to search in their distro's gnome software or using a terminal,  for your app and pull it down quickly, with a path for updates. Canonical makes you sign up for th

[2017-12-19 22:51] jmfgdev commented on #132
@hikariknight so you see it, sorry forgot to put that in my first comment, and I'm on mobile so I can't edit atm.

[2017-12-20 03:25] RyoshiKayo commented on #132
You only need to make an account to register the name of the snap, and that's your ubuntu-one login information, which @HikariKnight should already have from their PPA repo.

[2017-12-23 01:12] jmfgdev commented on #132
You also need a snapcraft account AFAIK to push directly from a github repo. @HikariKnight

[2017-12-24 10:11] HikariKnight commented on #132
sadly things in real life has gotten in the way so i have to delay this til about early january to mid february :(

[2017-12-24 14:36] HikariKnight opened #135 "Announcement about future development"
The next client update i do to the RSU project will be my last planned update to it.

When i first started development of this client back in 2011, i had no idea it would become such a big project. However due to my financial situation in real life and seeing that i would get less and less time to spend on this project, i made sure to make it so that it would require as little maintenance as possi

[2017-12-24 14:43] #120 closed

[2017-12-24 14:46] #50 closed

[2017-12-28 21:23] jmfgdev commented on #132
If I sit down and really work at it I think I could make it work, but I think the universal installer is already better than I would be able to do personally

[2017-12-28 21:27] HikariKnight commented on #132
doesnt need much as all it does is download the zip file, extract it, copy some files from its template folder and run a script to fix the jagex-jav:// protocol for xfce4. you could look at the AUR script from @ivanpu it does the exact same thing :)

[2017-12-28 21:30] jmfgdev commented on #132
I'll give it a shot, what's your choice of package, since I have other things to maintain if I get it right I will probably stop commiting, so you can maintain whatever I get, IF I even get anything.

To be honest snaps seem simpler and as such I think I would try that but I also want to know what the creator thinks obviously

[2017-12-28 21:33] HikariKnight commented on #132
whichever you want, i will try make the other myself later as i want to be able to provide one or the other or both before i stop development personally as i announced last week due to lack of time.

[2017-12-28 21:58] ivanpu commented on #132
Oh, forgot to mention: I no longer maintain that, since I no longer play the game :expressionless:

[2017-12-28 23:55] HikariKnight commented on #132
@ivanpu still its a baseline to look at what is needed. plus i am sure you would update it one last time if i emailed you and asked nicely since it would be my last official update to it :P

[2017-12-29 09:28] jmfgdev commented on #132
@HikariKnight Perhaps an organization is in order?
perhaps @rsu-client or something along the lines? There are probably thousands of ppl who play with this client so I think a dedicated team of maintainers should get together.
I don't know Perl but that's not really an issue cuz I only started programming recently and I learn fast.

[2017-12-29 09:54] HikariKnight commented on #132
i would actually love for that to happen @jmfgdev
also perl can be a pain to learn because its not a very strict language hence why i commented it to the degree i did so people would be able to at least make minor changes if they needed to

[2017-12-29 09:56] jmfgdev commented on #132
thanks you, I'm reading it right now so it's helping substancially

[2017-12-29 10:34] RyoshiKayo commented on #132
I can create the Organization and mange it, I'm more into Sysops/devops but I'd like to help where I can :)

[2017-12-29 10:36] HikariKnight commented on #132
@RyoshiKayo thanks do that and invite me and give me the ability to create a repository (as thats the requirement to be able to move the project over to an organization)

[2017-12-29 10:36] jmfgdev commented on #132
Go for it! Add me as a member and I'll share my work thus far, I've improved the English in comments and I'm working on getting a CI set up, I guess everyone uses travis so probably that.

[2017-12-29 10:46] RyoshiKayo commented on #132
@jmfgdev For any updates I'd recommend just forking and adding changes, then making a pull request

[2018-01-07 12:31] hhyyrylainen commented on #118
I get a black screen with the NXT client and as I can't dismiss this message about the new version I can't play at all. Would be nice to have some kind of fix for this.

[2018-01-07 14:13] HikariKnight commented on #118
hi @hhyyrylainen that is not something we can do as the game has already launched at that point, which means all the prep work the rsu-client does is done.
the issue youre having is either hardware related (intel graphics tend to not play well with anything) or a different issue which only jagex would be able to help you with

[2018-01-07 14:26] hhyyrylainen commented on #118
Thanks for commenting. I did find a few relevant links about the nxt issue:
https://www.reddit.com/r/runescape/comments/7ab2z2/runescape_nxt_black_screen_bug_caused_from_newer/
http://services.runescape.com/m=forum/c=3IsAs6RlF4w/sl=0/forums.ws?415,416,846,65973896
http://services.runescape.com/m=forum/forums.ws?415,416,707,65950789,goto,2

Which seem to confirm that the nxt issue is with jagex bei

[2018-01-07 14:28] HikariKnight commented on #118
if the issue was in the nxt client itself then yeah its entirely in jagex hands as this project is the legacy linux client essentially

[2018-02-03 18:13] Starrcade opened #136 "OpenBSD issues"
Hello @HikariKnight,
I use OpenBSD 6.2 and i've been working at getting the client to work, however I've ran into some pitfalls;
I managed to install much of the perl modules required, but this one always holds it back;
`WARNING: Running in fallback mode!
rsu-queries will use the system perl so some API calls
may not work until you install certain modules
WARNING: Wx module not found, API calls us

[2018-02-06 00:53] HikariKnight commented on #136
not sure if BSD uses X11 or not anymore but thats the error, failing to display the window on the Display :0 in the X11 window server

[2018-02-25 19:21] RichCmbMedic opened #137 "ERROR Loading Application"
When I go to log onto RS through the client, it loads application, gets to %98-100 then gives me an error box. It is completely black with a small box that when clicked just says 'Quit'.
Is this a user error or something else? First time I have dealt with this issue.

[2018-02-26 05:35] RyoshiKayo commented on #137
We need to know your OS, what version, etc before we can even attempt helping you.

[2018-03-16 18:21] annadane opened #138 "Random crashes and "illegal operations""
On Debian Sid. Application keeps crashing in random places (once in Barrows, once in Taverly dungeon). Here's my output:

 Executing the RuneScape Client!
You are now in the hands of Jagex.

######## End Of Script ########
######## Jagex client output will appear below here ########

Trying to load icon file: /home/annadane/Runescape/rsu-client-master/runescape/share/img/RuneScape3/jagexappletview

[2018-03-16 18:21] annadane commented on #138
@HikariKnight

[2018-03-16 21:10] HikariKnight commented on #138
never seen those warnings before
and i cant suggest anything else for that crash other than to try a different version of java @annadane
as i am not sure if they are related to the graphic card driver or not

[2018-03-17 02:17] RyoshiKayo commented on #138
We can try and help as much as possible but anything below `######## Jagex client output will appear below here ########` is output from the Jagex client, which Jagex has said before that they will only support the provided clients on the downloads page.

[2018-03-19 19:46] #136 closed

[2018-04-30 18:39] HikariKnight commented on #135
1. whenever java gets ditched or stop working with the jar
2. closest has been the black bar removal fix in the jar from mod philip breaking in java 8
3. not yet, but i am no longer set as owner but we made an "oganization" to house the repository so community members can more easily help

[2018-05-14 13:05] ItchyBugReporter opened #139 "Dependency issues on CentOS 7"
When trying to install unix-runescape-client, I see the following output from yum:

`[root@Printers yum.repos.d]# yum install unix-runescape-client
Loaded plugins: fastestmirror, langpacks
Loading mirror speeds from cached hostfile
 * base: mirror.steadfast.net
 * epel: mirror.cs.pitt.edu
 * extras: mirror.team-cymru.com
 * nux-dextop: mirror.li.nux.ro
 * trinity-r14: ftp.fau.de
 * trinity-r14-noa

[2018-05-15 21:20] ItchyBugReporter commented on #139
@HikariKnight sorry, just spotted your "read before reporting" thing.

[2018-05-15 22:34] ItchyBugReporter commented on #139
yum is literally just an alternative to package managers like apt-get and pacman and it does automatic dependency resolution just like the others (which should be obvious from the output I posted - note the "Processing Dependency" lines scattered throughout). It already knows to install perl-Wx as shown in the error message, but can't because it's not available in any of the repositories I have in

[2018-05-15 22:49] ItchyBugReporter commented on #139
A search on DuckDuckGo reveals I might need to add the CERT Forensics Tools repository to get a pre-built perl-Wx package:

[](https://pkgs.org/download/perl(Wx::Event))

I'll wait for a response from the package maintainer for rsu-client before proceeding.

[2018-05-16 15:26] HikariKnight commented on #127
the linux client used to do it, Mod Philip made the code for that in the appletviewer but java8 broke it and he is no longer with jagex so there is nobody to contact to get it fixed

also i can not start using a different applet viewer with the client as i made this project to be 100% compatible with the official, it is how it was endorsed on the download page from 2014 til the release of nxt

[2018-05-16 15:29] HikariKnight commented on #139
well as i said i do not know the maintainer and never been contacted by said maintainer about adding the repository to the page.

the github repository has resources for people to make a repository for other systems and then its up for the maintainers to contact me to get it added or fork and add the repository to the readme themselves :)

[2018-05-16 15:30] navennn commented on #127
Are you saying that if there is some critical bug in the future, you will not be able to fix it either?

[2018-05-16 15:32] HikariKnight commented on #127
exactly, RSU only takes care of pre-launch operations then hands everything over to jagexappletviewer

[2018-05-16 15:33] shuhaowu commented on #127
This project should always use Jagex's official appletviewer. Are you saying that if we bundle in OpenJDK6 (judget from the .tar.gz file I'm getting), we can get rid of the bar without additional flags? That should be easy to fix as we can easily bundle it in.

[2018-05-16 15:33] shuhaowu commented on #127
Here's the official license source: http://www.runescape.com/downloads/jagexlauncher-src.tar.bz2?210604

It looks like they bundled OpenJDK6 with some minor patches.

[2018-05-16 15:33] ghost opened #140 "Runescape not loading login portion"
Ubuntu 18.04 using the Debian install method.

[2018-05-16 15:35] HikariKnight commented on #127
exactly, i wouldnt like bundling openjdk6 or 7 directly with the client files but if licencing accepts it it could have a download of sorts, its because of oddities like this i made the custom java option in the settings ;)

[2018-05-16 15:35] soaringowl2145 commented on #140
![image](https://user-images.githubusercontent.com/24739821/40127357-31a50e58-58fd-11e8-8ec4-564497a6ba81.png)

[2018-05-16 15:36] soaringowl2145 commented on #140
Old School is perfect though.

[2018-05-16 15:37] shuhaowu commented on #127
If it does remove it without modifications, I'll investigate down this path. OpenJDK6 is pretty old and I'll need to figure out how to get a copy of this. The easiest way might be doing it inside a LXC/LXD container or sort with an old version of Ubuntu. This will give us some added benefit of isolation as well.

Might as well reopen this issue then.

[2018-05-16 15:41] HikariKnight commented on #127
sounds like a plan, the client is pretty self contained in general when outside of /opt or /usr
it does have some checks if its run from within those locations to make it "system wide" compatible like storing config files in ~/.local or ~/.config as the user would not have write permissions to /opt or /usr in most cases

[2018-05-16 16:00] shuhaowu commented on #127
Just launched the client with rsu-client (maybe this should be called rsu-launcher instead...) via OpenJDK6 on ubuntu trusty. It works but the copyright bar is definitely not removed upon login. I'm still suspecting that the windows launcher is passing some options/environment/something.

[2018-05-16 16:02] HikariKnight commented on #127
i can guarantee you it does not though, so my guess is that they have broken it since it did work on java6 and 7 last time i checked but not 8

[2018-05-16 16:54] shuhaowu commented on #127
Did you try OpenJDK or Oracle JDK? Neither 6 or 7 removes it for me.

[2018-05-16 16:58] nolifeorname commented on #140
it looks like you are on ubuntu,
there is a different install method for that distro so maybe try that one out?

[2018-05-16 16:59] nolifeorname commented on #140
[code]

[2018-05-16 17:02] soaringowl2145 commented on #140
How do I know that my download has not been tampered with when using a PPA?

[2018-05-16 17:08] shuhaowu commented on #127
Does the windows client not use the same jar file? AFAICT the launcher just launchers the java vm with the jar. Thus the functionality must be there somewhere.

I'm currently using a container and running the application via an X socket that I mounted in. This allows me to test any arbitrary setup. If you can tell me what distro/java distribution/version you're running, I can verify the behaviour

[2018-05-16 17:08] soaringowl2145 commented on #140
Also that still did not fix it.

[2018-05-16 17:09] nolifeorname commented on #140
in the debian method you are doing basically the same by configuring an external repo

[2018-05-16 17:09] nolifeorname commented on #140
have you tried clearing your jagex cache (should be in your home directory)

[2018-05-16 17:15] nolifeorname commented on #140
also if that doesn't work: HikariKnight has a forum post with linux support for runescape ( http://services.runescape.com/m=forum/forums.ws?409,410,916,65990459 )
where he explains how to use 32bit java on a 64bit system

[2018-05-16 17:18] nolifeorname commented on #140
also this might be it:

[2018-05-16 19:17] ItchyBugReporter commented on #139
There is a link to the repository in the readme for this repository. I did not discover the link through any fork (I wasn't aware there were any until you pointed it out). It is natural to assume that the repository is officially supported since there is nothing in the readme to suggest otherwise. There is no link that I can see in the CentOS install instructions linked from the readme that sugges

[2018-05-16 19:20] HikariKnight commented on #127
windows uses the identical jar
bars get removed with linux and mac jar on windows

all 3 jars are identical, the choice between them is just remainder from when the mac client became available and later philip added the jar directly to the rs website for clients like mine to use instead of jumping through the hoops of extracting the jar from the other clients :P

[2018-05-16 19:29] shuhaowu commented on #127
AHA! So here lies the problem. The jar files ARE different! I just cloned and setup a new instance of rsu-client, which gave me the following jar:

[code]

This is the jar I extracted from the windows installer. The size is slightly different.

[code]

Indeed, when I launch the windows installer extracted jar file, the copyright and language bar disappears after login (on OpenJDK6, need to check O

[2018-05-16 19:34] shuhaowu commented on #127
I just confirmed that with the windows jar, I can even use OpenJDK8 and the copyright/language bar disappears AFTER login.

[2018-05-16 19:39] shuhaowu commented on #127
It's interesting that the dmg installer also gives a slightly different jar file:

[code]

Ignore the first two numbers as I'm mounting the dmg image and the uid/gid are a bit messed up.

[2018-05-16 20:09] HikariKnight commented on #127
so jagex has essentially no control which file is which? hmm
i might be able to contact someone at jagex to poke the devs to update the jar but no promises, test the osx one which seems to be the most up to date one (size wise) but we wont know for sure until you test :)

[2018-05-16 20:13] shuhaowu commented on #127
Nope, the mac one doesn't remove the bar, just the windows one works.

I'm guessing that Jagex just doesn't update http://www.runescape.com/downloads/jagexappletviewer.jar when they update the appletviewer as they only focused on getting the Windows installer to work.

Also note that I'm using the OSRS installer here.

[2018-05-16 20:16] shuhaowu commented on #127
Additionally, trying to get the appletviewer from the runescape.msi gets the same one as the default linux one: https://github.com/rsu-client/rsu-client/blob/master/runescape/rsu/framework/API/client/launch/updater.pm#L35

[2018-05-16 21:25] shuhaowu opened #142 "Rename the client to rsu-launcher?"
Some people seem to be confusing this as a third party client when it's really just a wrapper script to launch the official client. A rename seems logistically challenging, but maybe have some sort of clarification somewhere.

[2018-05-16 21:55] HikariKnight commented on #127
so rs3 used old source to make updated appletviewers and oldschool used the newer source lol
great xD

[2018-05-16 21:58] shuhaowu commented on #127
This seems like what's happening.. Not sure why the oldschool.dmg also has a viewer that doesn't get rid of the black bar. Chances are their build pipeline for the launcher is probably never polished unless people complain, and since Mac users who use the official client is likely tiny, they just never bothered.

I have that PR up there that gets rid of the black bars for Linux by switching the de

[2018-05-16 21:59] HikariKnight commented on #127
initiate a pull request and i will be able to do it

[2018-05-16 21:59] shuhaowu commented on #127
It's already up. See #141

[2018-05-16 22:01] HikariKnight commented on #127
was looking at the wrong place :P

[2018-05-16 22:02] shuhaowu commented on #127
Thanks a LOT for all the help getting to the bottom of this issue! The black bar always bothered me but it's not until today I checked the windows installer and realized that the black bar disappeared.

[2018-05-16 22:04] HikariKnight commented on #142
updated the description

[2018-05-16 22:04] #142 closed

[2018-05-16 22:05] shuhaowu commented on #127
Actually one more thing, we might want to have a way to update the existing appletview.jar file so people who already have this installed can get this benefit, perhaps we can check the file size, if it matches the old file size, then try to update?

[2018-05-16 22:08] HikariKnight commented on #140
failing to render the login portion is an odd issue i see rarely, i would recommend clearing the jagexcache as that is what could cause issues like this. sadly i have no other solution you can try for it as its not an issue i have ever faced myself, i just know that a corrupt cache can cause lots of interesting and odd issues.

[2018-05-16 22:12] HikariKnight commented on #139
oh whops i didnt spot that earlier today at work.
@fusion809 hey mate there seems to be an issue with your rpm repository :)
any insight?

[2018-05-16 22:26] HikariKnight commented on #127
i never wrote such a function since the appletviewer would complain when it was outdated but since the current ones are outdated but not at the same time they would have to update the client anyway, plus it would cause issues in the future should they update it as we cant have the client download and check the rar for changes each time the client starts since wxperl at least when i wrote this didn

[2018-05-16 22:31] shuhaowu commented on #127
No I'm not saying we should check for an update online. Instead, what I'm saying is: since we know the default file size of `62295` is an outdated client, if we detect that a jar exist on the user's filesystem, and it has that exact file size, we can try to download a newer client.

Over the next little while this would bring people's jar up to date. It is a little hacky, but it otherwise I don't

[2018-05-17 12:15] fusion809 commented on #139
Thanks for informing me of this, just not sure what I can do about this, besides disabling its build for CentOS.

[2018-05-18 08:49] navennn commented on #127
Thank you guys for getting to the bottom of this.
One more question- how do I upgrade to use it? Can you upgrade the repo version please?

[2018-05-18 12:52] shuhaowu commented on #127
That's what I was talking about. You can just upgrade your version (git pull, whatever), and then you have to delete the jagexappletviewer.jar. Alternatively I think you can also use the appletviewer updater to update it.

[2018-05-18 12:59] navennn commented on #127
ok! not blunt enough for me :)
removed /home/username/.config/runescape/bin/jagexappletviewer.jar
ran the client and it downloaded a new one just like you said

Thanks guys! It works.

[2018-05-30 19:50] SmOkEwOw commented on #140
I have the same issue, installing 32 bit java doesn't work (package not found), unix-runescape-launcher (package not found, probably not avaible in ubuntu 18 yet), NXT launcher doesn't work too, it not even opens. RSU client is the only that opens the game, but there's no login box, also the auto-setup box doesn't popup too, i can't open settings too.

Here is the console logs: https://pastebin.co

[2018-06-01 15:31] trilerium opened #143 "Unable to locate Package unix-runescape-client"
@HikariKnight
Apologies in advance, I'm a novice linux user who has played around with Ubuntu and Mint since 2012 but never used it as my main OS for more than 4 months at a time. I tried installing the URC on my machine running Ubuntu 18.04 using

`sudo apt-add-repository ppa:hikariknight/unix-runescape-client`

followed by

`sudo apt-get update && sudo apt-get install unix-runescape-client`

and

[2018-06-01 17:31] trilerium commented on #143
Not sure why but I seem to have been able to install it buy using
`Sudo apt-get install runescape`

[2018-06-02 01:13] RyoshiKayo commented on #143
In general if you don't know what a package name is you can do `sudo apt seach runescape`

[2018-06-02 01:13] #143 closed

[2018-06-26 01:11] DeicPro opened #144 "Fatal error by JRE"
[code]

[2018-06-27 05:11] LordButtWiggle commented on #144
Currently having the same issue, I'll keep you informed if I make any progress.

[2018-06-27 07:38] annadane commented on #138
Okay; so you can fix this by changing, in rsu-client-master/runescape/share/configs/settings.conf, preferredjava=/usr/lib/jvm/java-8-openjdk-amd64/bin/java (obviously do actually install Java 8 first, in Debian I installed both openjdk-8-jdk and openjdk-8-jre just to be sure but you possibly don't need both)

[2018-06-27 19:46] LordButtWiggle commented on #144
Found what was causing the problem, I installed Oracle's JDK (I am using a Note 8/arm64-v8a) but the rsu-client seems to have installed OpenJDK as an alternative java installation. Simply needed to set Oracle's as the default. @DeicPro

[2018-06-27 23:45] DeicPro commented on #144
@LodButtWiggle what Oracle JDK version?

[2018-06-28 00:20] DeicPro commented on #144
@LordButtWiggle I installed Oracle JDK 8u172 and when run RuneScape I got this:
[code]

It is worse than before, now doesn't show any windows.

[2018-06-28 00:35] DeicPro commented on #144
My procedure is this:
[code]

[2018-06-28 00:36] DeicPro commented on #144
@LordButtWiggle My procedure is this:
[code]

[2018-06-28 02:37] LordButtWiggle commented on #144
Yeah I currently have the same problem. I'll try to fix it but dont have much time right now.

[2018-06-29 03:05] arsphl commented on #135
I can't easily get an open JDK 7, anymore. And definitively not a libGLEW 1.10 on a sane environment.

I could spend time on the project of keeping the linux client alive.

How can we go about it ?

[2018-06-29 06:15] HikariKnight commented on #135
@arsphl fork, edit, make pull request :)

[2018-06-29 19:11] DeicPro commented on #144
I find this: https://www.ibm.com/developerworks/community/blogs/738b7897-cd38-4f24-9f05-48dd69116837/entry/how_to_resolve_java_exceptions_java_awt_headlessexception7?lang=en

It says to install X11 server, but I'm not sure to what package of X11 (or Xorg) install

[2018-06-29 19:12] DeicPro commented on #144
@LordButtWiggle I found this: https://www.ibm.com/developerworks/community/blogs/738b7897-cd38-4f24-9f05-48dd69116837/entry/how_to_resolve_java_exceptions_java_awt_headlessexception7?lang=en

It says to install X11 server, but I'm not sure to what package of X11 (or Xorg) install

[2018-07-03 01:50] zeruth commented on #144
I dont use rsu-client. Typically i use the latest arm64 ubuntu - with latest openjdk-jre with a 3rd party loader. I provide a linux img in runelite-mobile that you can look at

[2018-07-03 19:21] DeicPro commented on #144
@zeruth this is not a rsu-client problem, is the Jagex client part where crash. I need suggestion to know how to fix to can play.. Could be the OS of UserLAnd app (Debian 9 Strech) the culprit of Java OpenJDK/Oracle to not work with RuneScape?

[2018-07-03 20:38] zeruth commented on #144
I suggest using Ubuntu bionic beaver. I believe default-jre is openjdk-11

[2018-07-03 21:21] DeicPro commented on #144
Oh nice. I'm upgrading to Debian Testing to can install OpenJDK 11. I will report back the results, thanks

[2018-07-03 22:20] zeruth commented on #144
okay and looking at the log its a guarantee failure which means its on the jre end and not jagex. A future update / older jre should work too

[2018-08-05 03:41] annadane opened #145 "How to run OSRS?"
Sorry, this isn't an "issue", I'm just not sure where else to ask. How do you actually use the client to run OSRS?

[2018-08-06 18:10] RyoshiKayo commented on #145
Run the launcher and choose the oldschool profile.

[2018-08-06 18:10] #145 closed

[2018-08-31 18:59] TheMysticalTaco opened #146 "The following signatures were invalid"
I did
sudo apt-add-repository ppa:hikariknight/unix-runescape-client
once it finished i did
sudo apt-get update && sudo apt-get install unix-runescape-client
Now it keeps giving me
W: GPG error: https://content.runescape.com/downloads/ubuntu trusty InRelease: The following signatures were invalid: AAC9264309E4D717441DB9527373B12CE03BEB4B
E: The repository 'https://content.runescape.com/downloads/u

[2018-09-20 04:42] RoelandoB opened #148 "RSU and Chromebook"
Hello,

I realize there already was a post from about a year ago about Chromebook, and that they are/were not supported, however, I have a slightly different problem. Also, total noob at this, very little Linux experience, but attempting to learn it!

My situation: I have a CB (Acer CB515-1HT) with Linux support (stable channel), and I managed to install RSU. I am even able to run OSRS (I can actu

[2018-10-01 04:30] EternalSlushy opened #149 "Starting fresh on ubuntu, can't use desktop temporarily, osrs not working"
This here is the file I've download because I believe I have x64 system...
![first uploadxxx999](https://user-images.githubusercontent.com/43737039/46269715-bd7f4180-c4f7-11e8-90d9-363afeb916bd.jpg)
This is the error I get before it finished installing...
![2nd upload09jj90](https://user-images.githubusercontent.com/43737039/46269737-d687f280-c4f7-11e8-9207-859bd178ccda.jpg)
And this is what is in

[2018-10-01 16:56] RyoshiKayo commented on #149
Ubuntu has a screenshot utility...

Without seeing any logs my best guess is that the launcher wasn't able to download a perl module.

[2018-10-01 16:58] Suzner opened #150 "Flickering at menu. Stuck"
@hikariknight after downloading everything... I can run osrs totally fine. But when I try to launch rs3. It starts, updates, then sits on the menu screen and flickers endlessly. Any idea why it won't start?

I use a chromebook, with Linux vm.

Thanks!

[2018-10-01 18:41] Suzner commented on #150
If all else fails I can always just ply osrs, but my acct is on rs3. hopefully @HikariKnight can help us!!

[2018-10-02 00:02] RyoshiKayo commented on #150
Same issue as #133

[2018-10-02 00:02] #150 closed

[2018-10-06 07:45] abacefbeca commented on #149
You're using Ubuntu. Is there a reason you didn't use the PPA which makes it much easier to install the RSU client launcher? Open a Terminal window and do

`sudo apt-add-repository ppa:hikariknight/unix-runescape-client`

After that is done type in the following

`sudo apt-get update && sudo apt-get install unix-runescape-client`

Currently there seems to be an issue with the installers like the o

[2018-10-06 07:50] abacefbeca commented on #146
Might've helped if you had included what distro and version you are using. Anyway, looks like the signature was rejected because it is based on SHA1 which is no longer secure because of some issues. A better signature needs to be provided or maybe you can set your system to ignore the signature issue with that particular PPA. Though, getting a better signature is the better solution.

[2018-10-06 08:02] abacefbeca commented on #149
@HikariKnight

Are there any plans to fix the installers?

[2018-10-17 10:15] HikariKnight commented on #149
i will have to update and rebuild the installers, i will look into that, as they stop working when there are major updates in the bitrock installer framework involving the download code
cheers for tag @abacefbeca

[2018-10-17 11:41] hopppz opened #151 "Unable to launch game play now spawns black error box"
Sorry might not be the best place to post this but wasn't sure where to go for support.

I'm running RSU on ubuntu 18.04 Bionic

I added the PPA and ran the install as per the instructions when I hit play now it just spawns a black error box with no text except a quite button not sure how to proceed from here can anyone help?

![runescape](https://user-images.githubusercontent.com/39956189/4708388

[2018-10-18 00:45] abacefbeca commented on #151
It is odd that the error box is empty but apparently something isn't working. Start with the launcher closed and try opening a Terminal window and typing `runescape`  then in the launcher click on Play Now. There will be a lot of output in Terminal as the launcher does its work. I expect there will be something in the Terminal window related to the empty error box. You can copy and paste all the o

[2018-10-18 08:09] hopppz commented on #151
Hi please see the following pastebin

https://pastebin.com/ExHecZhb

[2018-10-18 19:42] abacefbeca commented on #151
@hopppz   Actually, the RSU Client Launcher script is running like it should according to the output on Pastebin. There is a warning about a missing Wx::WebView module, a Gtk-CRITICAL message, and some Gtk-WARNING messages but I found the Old School client will launch regardless of those messages. I saw those same messages in my installation of Ubuntu 18.04 and the Old School client started regard

[2018-10-19 02:46] HikariKnight commented on #151
@hopppz @abacefbeca
might be a new jar file that is for oldschool only
when the client was originally made, both rs3 and oldschool jar shared the same jar file source.
which they no longer do

try update the jar file from the oldschool msi

you should be able to do that with

`rsu-query rsu.download.client msi`
or
`runescape rsu.download.client msi`

[2018-10-19 08:21] hopppz commented on #151
ran
runescape rsu.download.client msi

`matt@Aincrad:~$` runescape rsu.download.client msi
WARNING: Running in fallback mode!
rsu-queries will use the system perl so some API calls
may not work until you install certain modules
WARNING: Wx::WebView module not found, API calls using Wx::WebView will not work

7-Zip [64] 16.02 : Copyright (c) 1999-2016 Igor Pavlov : 2016-05-21
p7zip Version 16.02 (l

[2018-10-25 13:50] HikariKnight commented on #151
ok i have no idea what the message could say then, as long as it loads it should be fine though
usually that message is used for telling you the client cant connect to runescape (most common one)
or that a new version of the windows client is available (which will give you a text box with a link which you can see, so its easy to spot)
in which case just updating the jar file is enough, however any

[2018-10-25 13:51] HikariKnight commented on #151
PS: Wx::WebView is just a better version of Wx::Html so if the webview module is detected (from WxWidgets3 i think) it will use that over Wx::Html for displaying the news

[2018-10-27 21:01] HikariKnight commented on #146
I can no longer update packages in trusty so you will have to either
1. use a newer distribution
2. use a newer branch (example, edit every instance of trusty into "bionic" inside "/etc/apt/sources.list.d/hikariknight-ubuntu-unix-runescape-client-trusty.list"
PLEASE NOTE THIS IS NEVER STANDARD PRACTICE AND SHOULD NEVER BE DONE ON OLDER DISTRIBUTIONS UNLESS THE DEVELOPER CAN CONFIRM THE DEPENDENCY

[2018-10-27 21:03] HikariKnight commented on #149
@abacefbeca installers are now fixed, whew the installer builder have had 10 major updates since last buildl :sweat_smile:

[2018-10-27 21:03] HikariKnight commented on #149
@EternalSlushy the installers should work now when you redownload them :)

[2018-10-27 21:04] #149 closed

[2018-10-27 21:11] abacefbeca commented on #146
@HikariKnight
Actually, the error message TheMysticalTaco is asking about involves Jagex's repository for their NXT client. It doesn't involve the RSU client launcher but I guess he thought it involved the RSU client launcher because he saw the message while following instructions for the RSU client launcher. Jagex needs to use something better than SHA1 for their signature.

[2018-10-28 11:53] HikariKnight commented on #146
oh right @abacefbeca i misread it last night
jagex is most likely never going to maintain that repository properly, so the best solution right now is to use the flatpak someone made of the client

https://flatpak.org/
https://flathub.org/apps/details/com.jagex.RuneScape

you might have to add
`PULSE_LATENCY_MSEC=185`
in front of the launch command in the menu entry to fix some possible audio issue

[2018-10-28 13:28] #130 closed

[2018-10-28 13:31] #118 closed

[2018-10-28 13:32] HikariKnight commented on #119
closing this as its not had any info since last year

[2018-10-28 13:32] #119 closed

[2018-10-28 13:32] #121 closed

[2018-10-28 13:33] HikariKnight commented on #59
need to look at this again

[2018-10-28 13:43] HikariKnight commented on #92
no info for years, closing this

[2018-10-28 13:43] #92 closed

[2018-10-28 13:46] #111 closed

[2018-10-28 13:49] HikariKnight commented on #115
PPA has been updated and me and the other developer have sorted out a way to make our packages work so it might show up in a future version of debian, but for now my PPA version is set to be always higher version than his so mine takes priority when people add the PPA

[2018-10-28 13:49] #115 closed

[2018-10-28 13:51] #110 closed

[2018-10-28 13:52] HikariKnight commented on #137
no info for months, closing, please reopen if you still need help.

[2018-10-28 13:52] #137 closed

[2018-10-28 13:53] HikariKnight commented on #107
no update for over a year, closing

[2018-10-28 13:53] #107 closed

[2018-10-28 13:58] #140 closed

[2018-10-31 07:11] abacefbeca opened #153 "Windows version won't start."
@HikariKnight

I was able to install the RSU client launcher in Windows OK, now. Thank you for that. Then the first time I tried to run it it downloaded rsu-query.exe OK. Then the second time I tried to run it nothing happens. Looks like the executable (RuneScape.exe I guess) runs for a moment and then closes with no error message. No RSU client launcher window appears when I try to run it.